<div class="row">
  <div class="<%= @picks && @team.league.draft_type == 'bracket' ? 'col' : 'col-md-8 offset-md-2' %>">
    <%= link_to "< Back To Your League", game_competition_league_path(@team.league.leagueable.game, @team.league.leagueable, @team.league) %>

    <h1><%= @team.name %></h1>
    <p>
      <% if current_user == @team.user || current_user == @team.league.admin || current_user.admin %>
        <% if @league.draft_type == 'pick_x' && @league.leagueable.start_date > Time.now %>
          <%= link_to 'Change Picks', game_competition_league_draft_path(@game, @competition, @league, @league.draft), class: 'btn btn-dark' %>
        <% end %>
        <%= link_to "Edit Team", edit_game_competition_league_team_path(@team.league.leagueable.game, @team.league.leagueable, @team.league, @team), class: 'btn btn-light' %>
      <% end %>
    </p>
    <% if @team.league.draft_type == 'special' %>
      <% if @team.supporting.blank? %>
        <p>
          Supporting: No one. Edit your team to support a player and we'll donate $1 to their charity campaign!
        </p>
      <% else %>
        <p>
          Suppporting: <%= @team.supporting&.humanize&.titleize %>
        </p>
      <% end %>
    <% end %>
    <p>
      <em><%= "(Through Round #{@team.league.leagueable.score_as_of_round})" unless @league.draft_type == 'bracket' %></em>
    </p>

    <% if @picks && @team.league.draft_type == 'pick_em' %>
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>
              Match
            </th>
            <th>
              Your Pick to Win
            </th>
          </tr>
        </thead>
        <tbody>
          <% @picks.each do |pick| %>
          <tr id="<%= pick.id %>">
            <td>
              <%= pick.pickable.player_a.name %> vs. <%= pick.pickable.player_b.name %>
            </td>
            <td>
              <%= pick.winner&.name %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    <% elsif @picks && @team.league.draft_type == 'bracket' && @league.leagueable.name == 'Spark Madness' %>
      <% winning_character = Character.find_by_id(@winner.winner_id) %>
      <% if winning_character %>
        You chose <%= winning_character.name %> to win Spark Madness!
      <% else %>
        You didn't finish filling out your bracket.
      <% end %>

      <div id="bracket" class="bracket">
        <div class="round round-1">
          <% @matches.select{ |match| match.round == 1 && match.group == '1' }.each do |match| %>
            <% character_a = Character.find_by_id(match.player_a_id) %>
            <% character_b = Character.find_by_id(match.player_b_id) %>

            <% character_a_asset_name = character_a ? character_a.name.parameterize : nil %>
            <% character_b_asset_name = character_b ? character_b.name.parameterize : nil %>

            <% pick = @picks.find_by(pickable_id: match.id) %>

            <div class="spacer">&nbsp;</div>

            <div class="game game-top <%= 'winner' if pick.winner_id == character_a.id %> <%= pick&.winner_id == character_a.id ? (pick&.winner_id == match&.winner_id ? 'correct-pick' : 'incorrect-pick') : nil %>">
              <%= "(#{character_a.seed(@competition)}) #{character_a&.name}" %>
              <%= image_tag "spark-madness/#{character_a_asset_name}.jpg" %>
            </div>
            <div class="game game-spacer">&nbsp;
            </div>
            <div class="game game-bottom <%= 'winner' if pick.winner_id == character_b.id %> <%= pick&.winner_id == character_b.id ? (pick&.winner_id == match&.winner_id ? 'correct-pick' : 'incorrect-pick') : nil %>">
              <%= "(#{character_b.seed(@competition)}) #{character_b&.name}" %>
              <%= image_tag "spark-madness/#{character_b_asset_name}.jpg" %>
            </div>

            <div class="spacer">&nbsp;</div>
          <% end %>
        </div>
        <div class="round round-2">
          <% @matches.select{ |match| match.round == 2 && match.group == '1' }.each do |match| %>
            <% character_a = Character.find_by_id(@picks.find_by(pickable_id: match.player_a_previous_match_id).winner_id) %>
            <% character_b = Character.find_by_id(@picks.find_by(pickable_id: match.player_b_previous_match_id).winner_id) %>
            <% pick = @picks.find_by(pickable_id: match.id) %>

            <div class="spacer">&nbsp;</div>

            <div class="game game-top <%= 'winner' if pick&.winner_id == character_a&.id %> <%= pick&.winner_id == character_a&.id ? (pick&.winner_id == match&.winner_id ? 'correct-pick' : 'incorrect-pick') : nil %>"><%= character_a&.seed(@competition) ? "(#{character_a&.seed(@competition)}) #{character_a&.name}" : character_a&.name %></div>
            <div class="game game-spacer">&nbsp;</div>
            <div class="game game-bottom <%= 'winner' if pick&.winner_id == character_b&.id %> <%= pick&.winner_id == character_b&.id ? (pick&.winner_id == match&.winner_id ? 'correct-pick' : 'incorrect-pick') : nil %>"><%= character_b&.seed(@competition) ? "(#{character_b&.seed(@competition)}) #{character_b&.name}" : character_b&.name %></div>

            <div class="spacer">&nbsp;</div>
          <% end %>
        </div>
        <div class="round round-3">
          <% @matches.select{ |match| match.round == 3 && match.group == '1' }.each do |match| %>
            <% character_a = Character.find_by_id(@picks.find_by(pickable_id: match.player_a_previous_match_id).winner_id) %>
            <% character_b = Character.find_by_id(@picks.find_by(pickable_id: match.player_b_previous_match_id).winner_id) %>
            <% pick = @picks.find_by(pickable_id: match.id) %>

            <div class="spacer">&nbsp;</div>

            <div class="game game-top <%= 'winner' if pick&.winner_id == character_a&.id %> <%= pick&.winner_id == character_a&.id ? (pick&.winner_id == match&.winner_id ? 'correct-pick' : 'incorrect-pick') : nil %>"><%= character_a&.seed(@competition) ? "(#{character_a&.seed(@competition)}) #{character_a&.name}" : character_a&.name %></div>
            <div class="game game-spacer">&nbsp;</div>
            <div class="game game-bottom <%= 'winner' if pick&.winner_id == character_b&.id %> <%= pick&.winner_id == character_b&.id ? (pick&.winner_id == match&.winner_id ? 'correct-pick' : 'incorrect-pick') : nil %>"><%= character_b&.seed(@competition) ? "(#{character_b&.seed(@competition)}) #{character_b&.name}" : character_b&.name %></div>

            <div class="spacer">&nbsp;</div>
          <% end %>
        </div>
        <div class="round round-4">
          <% @matches.select{ |match| match.round == 4 && match.group == '1' }.each do |match| %>
            <% character_a = Character.find_by_id(@picks.find_by(pickable_id: match.player_a_previous_match_id).winner_id) %>
            <% character_b = Character.find_by_id(@picks.find_by(pickable_id: match.player_b_previous_match_id).winner_id) %>
            <% pick = @picks.find_by(pickable_id: match.id) %>

            <div class="spacer">&nbsp;</div>

            <div class="game game-top <%= 'winner' if pick&.winner_id == character_a&.id %> <%= pick&.winner_id == character_a&.id ? (pick&.winner_id == match&.winner_id ? 'correct-pick' : 'incorrect-pick') : nil %>"><%= character_a&.seed(@competition) ? "(#{character_a&.seed(@competition)}) #{character_a&.name}" : character_a&.name %></div>
            <div class="game game-spacer">&nbsp;</div>
            <div class="game game-bottom <%= 'winner' if pick&.winner_id == character_b&.id %> <%= pick&.winner_id == character_b&.id ? (pick&.winner_id == match&.winner_id ? 'correct-pick' : 'incorrect-pick') : nil %>"><%= character_b&.seed(@competition) ? "(#{character_b&.seed(@competition)}) #{character_b&.name}" : character_b&.name %></div>

            <div class="spacer">&nbsp;</div>
          <% end %>
        </div>
        <div class="round round-5">
          <% @matches.select{ |match| match.round == 4 && match.group == '1' }.each do |match| %>
            <% previous_pick = @picks.find_by(pickable_id: match.id) %>
            <% character_a = Character.find_by_id(previous_pick.winner_id) %>

            <div class="spacer">&nbsp;</div>

            <div class="game game-top <%= previous_pick&.winner_id == character_a&.id ? (previous_pick&.winner_id == match&.winner_id ? 'correct-pick' : 'incorrect-pick') : nil %>"><%= character_a&.seed(@competition) ? "(#{character_a&.seed(@competition)}) #{character_a&.name}" : character_a&.name %></div>

            <div class="spacer">&nbsp;</div>
          <% end %>
        </div>
        <div class="round bracket-winner">
          <% match = @competition.matches.find_by(group: 'finals') %>
          <% pick = @picks.find_by(pickable_id: match&.id) %>
          <% character = Character.find_by_id(pick&.winner_id) %>
          <div class="spacer">&nbsp;</div>
          <div class="game game-top winner <%= pick&.winner_id == character&.id ? (pick&.winner_id == match&.winner_id ? 'correct-pick' : 'incorrect-pick') : nil %>">
            <div class="winner-title">
              WINNER!
            </div>
            <%= character&.seed(@competition) ? "(#{character&.seed(@competition)}) #{character&.name}" : character&.name %>
          </div>
          <div class="spacer">&nbsp;</div>
        </div>
        <div class="round round-5 right">
          <% @matches.select{ |match| match.round == 4 && match.group == '2' }.each do |match| %>
            <% previous_pick = @picks.find_by(pickable_id: match.id) %>
            <% character_a = Character.find_by_id(previous_pick.winner_id) %>

            <div class="spacer">&nbsp;</div>

            <div class="game game-top <%= previous_pick&.winner_id == character_a&.id ? (previous_pick&.winner_id == match&.winner_id ? 'correct-pick' : 'incorrect-pick') : nil %>"><%= character_a&.seed(@competition) ? "(#{character_a&.seed(@competition)}) #{character_a&.name}" : character_a&.name %></div>

            <div class="spacer">&nbsp;</div>
          <% end %>
        </div>
        <div class="round round-4 right">
          <% @matches.select{ |match| match.round == 4 && match.group == '2' }.each do |match| %>
            <% character_a = Character.find_by_id(@picks.find_by(pickable_id: match.player_a_previous_match_id).winner_id) %>
            <% character_b = Character.find_by_id(@picks.find_by(pickable_id: match.player_b_previous_match_id).winner_id) %>
            <% pick = @picks.find_by(pickable_id: match.id) %>

            <div class="spacer">&nbsp;</div>

            <div class="game game-top <%= 'winner' if pick&.winner_id == character_a&.id %> <%= pick&.winner_id == character_a&.id ? (pick&.winner_id == match&.winner_id ? 'correct-pick' : 'incorrect-pick') : nil %>"><%= character_a&.seed(@competition) ? "(#{character_a&.seed(@competition)}) #{character_a&.name}" : character_a&.name %></div>
            <div class="game game-spacer">&nbsp;</div>
            <div class="game game-bottom <%= 'winner' if pick&.winner_id == character_b&.id %> <%= pick&.winner_id == character_b&.id ? (pick&.winner_id == match&.winner_id ? 'correct-pick' : 'incorrect-pick') : nil %>"><%= character_b&.seed(@competition) ? "(#{character_b&.seed(@competition)}) #{character_b&.name}" : character_b&.name %></div>

            <div class="spacer">&nbsp;</div>
          <% end %>
        </div>
        <div class="round round-3 right">
          <% @matches.select{ |match| match.round == 3 && match.group == '2' }.each do |match| %>
            <% character_a = Character.find_by_id(@picks.find_by(pickable_id: match.player_a_previous_match_id).winner_id) %>
            <% character_b = Character.find_by_id(@picks.find_by(pickable_id: match.player_b_previous_match_id).winner_id) %>
            <% pick = @picks.find_by(pickable_id: match.id) %>

            <div class="spacer">&nbsp;</div>

            <div class="game game-top <%= 'winner' if pick&.winner_id == character_a&.id %> <%= pick&.winner_id == character_a&.id ? (pick&.winner_id == match&.winner_id ? 'correct-pick' : 'incorrect-pick') : nil %>"><%= character_a&.seed(@competition) ? "(#{character_a&.seed(@competition)}) #{character_a&.name}" : character_a&.name %></div>
            <div class="game game-spacer">&nbsp;</div>
            <div class="game game-bottom <%= 'winner' if pick&.winner_id == character_b&.id %> <%= pick&.winner_id == character_b&.id ? (pick&.winner_id == match&.winner_id ? 'correct-pick' : 'incorrect-pick') : nil %>"><%= character_b&.seed(@competition) ? "(#{character_b&.seed(@competition)}) #{character_b&.name}" : character_b&.name %></div>

            <div class="spacer">&nbsp;</div>
          <% end %>
        </div>
        <div class="round round-2 right">
          <% @matches.select{ |match| match.round == 2 && match.group == '2' }.each do |match| %>
            <% character_a = Character.find_by_id(@picks.find_by(pickable_id: match.player_a_previous_match_id).winner_id) %>
            <% character_b = Character.find_by_id(@picks.find_by(pickable_id: match.player_b_previous_match_id).winner_id) %>
            <% pick = @picks.find_by(pickable_id: match.id) %>

            <div class="spacer">&nbsp;</div>

            <div class="game game-top <%= 'winner' if pick&.winner_id == character_a&.id %> <%= pick&.winner_id == character_a&.id ? (pick&.winner_id == match&.winner_id ? 'correct-pick' : 'incorrect-pick') : nil %>"><%= character_a&.seed(@competition) ? "(#{character_a&.seed(@competition)}) #{character_a&.name}" : character_a&.name %></div>
            <div class="game game-spacer">&nbsp;</div>
            <div class="game game-bottom <%= 'winner' if pick&.winner_id == character_b&.id %> <%= pick&.winner_id == character_b&.id ? (pick&.winner_id == match&.winner_id ? 'correct-pick' : 'incorrect-pick') : nil %>"><%= character_b&.seed(@competition) ? "(#{character_b&.seed(@competition)}) #{character_b&.name}" : character_b&.name %></div>

            <div class="spacer">&nbsp;</div>
          <% end %>
        </div>
        <div class="round round-1 right">
          <% @matches.select{ |match| match.round == 1 && match.group == '2' }.each do |match| %>
            <% character_a = Character.find_by_id(match.player_a_id) %>
            <% character_b = Character.find_by_id(match.player_b_id) %>

            <% character_a_asset_name = character_a ? character_a.name.parameterize : nil %>
            <% character_b_asset_name = character_b ? character_b.name.parameterize : nil %>

            <% pick = @picks.find_by(pickable_id: match.id) %>

            <div class="spacer">&nbsp;</div>

            <div class="game game-top <%= 'winner' if pick.winner_id == character_a&.id %> <%= pick&.winner_id == character_a&.id ? (pick&.winner_id == match&.winner_id ? 'correct-pick' : 'incorrect-pick') : nil %>">
              <%= "(#{character_a.seed(@competition)}) #{character_a&.name}" %>
              <%= image_tag "spark-madness/#{character_a_asset_name}.jpg" %>
            </div>
            <div class="game game-spacer">&nbsp;
            </div>
            <div class="game game-bottom <%= 'winner' if pick.winner_id == character_b&.id %> <%= pick&.winner_id == character_b&.id ? (pick&.winner_id == match&.winner_id ? 'correct-pick' : 'incorrect-pick') : nil %>">
              <%= "(#{character_b.seed(@competition)}) #{character_b&.name}" %>
              <%= image_tag "spark-madness/#{character_b_asset_name}.jpg" %>
            </div>

            <div class="spacer">&nbsp;</div>
          <% end %>
        </div>
      </div>
    <% elsif @picks && @team.league.draft_type == 'bracket' && @league.leagueable.name == 'Mythic Invitational' %>

      <div id="brackets">
        <div class="col"><h1>Group A</h1><h3>Winner's Bracket <span style="float: right;">Loser's Bracket</span></h3></div>
        <div class="bracket">
          <div class="round round-1">
            <% @matches.select{ |match| match.round == 1 && match.group == 'A' && match.bracket_section == 'winners' }.each do |match| %>
              <% player_a = Player.find_by_id(match.player_a_id) %>
              <% player_b = Player.find_by_id(match.player_b_id) %>

              <% pick = @picks.find_by(pickable_id: match.id) %>

              <div class="spacer">&nbsp;</div>

              <div class="game game-top <%= 'winner' if pick&.winner_id == player_a.id %> <%= pick&.winner_id == player_a.id ? (pick&.winner_id == match&.winner_id ? 'correct-pick' : 'incorrect-pick') : nil %>">
                <%= player_a&.name %>
                <%= image_tag "#{player_a.image_url}" %>
              </div>
              <div class="game game-spacer">&nbsp;
              </div>
              <div class="game game-bottom <%= 'winner' if pick&.winner_id == player_b.id %> <%= pick&.winner_id == player_b.id ? (pick&.winner_id == match&.winner_id ? 'correct-pick' : 'incorrect-pick') : nil %>">
                <%= player_b&.name %>
                <%= image_tag "#{player_b.image_url}" %>
              </div>

              <div class="spacer">&nbsp;</div>
            <% end %>
          </div>
          <div class="round round-2">
            <% @matches.select{ |match| match.round == 2 && match.group == 'A' && match.bracket_section == 'winners' }.each do |match| %>
              <% player_a = Player.find_by_id(@picks.find_by(pickable_id: match.player_a_previous_match_id).winner_id) %>
              <% player_b = Player.find_by_id(@picks.find_by(pickable_id: match.player_b_previous_match_id).winner_id) %>
              <% pick = @picks.find_by(pickable_id: match.id) %>

              <div class="spacer">&nbsp;</div>

              <div class="game game-top <%= 'winner' if pick&.winner_id == player_a&.id %> <%= pick&.winner_id == player_a.id ? (pick&.winner_id == match&.winner_id ? 'correct-pick' : 'incorrect-pick') : nil %>"><%= player_a&.name %></div>
              <div class="game game-spacer">&nbsp;</div>
              <div class="game game-bottom <%= 'winner' if pick&.winner_id == player_b&.id %> <%= pick&.winner_id == player_b.id ? (pick&.winner_id == match&.winner_id ? 'correct-pick' : 'incorrect-pick') : nil %>"><%= player_b&.name  %></div>

              <div class="spacer">&nbsp;</div>
            <% end %>
          </div>
          <div class="round round-3">
            <% @matches.select{ |match| match.round == 3 && match.group == 'A' && match.bracket_section == 'winners' }.each do |match| %>
              <% player_a = Player.find_by_id(@picks.find_by(pickable_id: match.player_a_previous_match_id).winner_id) %>
              <% player_b = Player.find_by_id(@picks.find_by(pickable_id: match.player_b_previous_match_id).winner_id) %>

              <% pick = @picks.find_by(pickable_id: match.id) %>

              <div class="spacer">&nbsp;</div>

              <div class="game game-top <%= 'winner' if pick&.winner_id == player_a&.id %> <%= pick&.winner_id == player_a.id ? (pick&.winner_id == match&.winner_id ? 'correct-pick' : 'incorrect-pick') : nil %>"><%= player_a&.name %></div>
              <div class="game game-spacer">&nbsp;</div>
              <div class="game game-bottom <%= 'winner' if pick&.winner_id == player_b&.id %> <%= pick&.winner_id == player_b.id ? (pick&.winner_id == match&.winner_id ? 'correct-pick' : 'incorrect-pick') : nil %>"><%= player_b&.name  %></div>

              <div class="spacer">&nbsp;</div>
            <% end %>
          </div>
          <div class="round round-4">
            <% @matches.select{ |match| match.round == 3 && match.group == 'A' && match.bracket_section == 'winners' }.each do |match| %>
              <% previous_pick = @picks.find_by(pickable_id: match.id) %>
              <% player_a = Player.find_by_id(previous_pick.winner_id) %>

              <div class="spacer">&nbsp;</div>

              <div class="game game-top winner <%= previous_pick&.winner_id == player_a.id ? (previous_pick&.winner_id == match&.winner_id ? 'correct-pick' : 'incorrect-pick') : nil %>"><%= player_a&.name %></div>

              <div class="spacer">&nbsp;</div>
            <% end %>
          </div>
          <div class="round bracket-winner">
            <strong>Top 4 advance to Saturday</strong>
          </div>
          <div class="round round-6 right">
            <% @matches.select{ |match| match.round == 5 && match.group == 'A' && match.bracket_section == 'losers' }.each do |match| %>
              <% previous_pick = @picks.find_by(pickable_id: match.id) %>
              <% player_a = Player.find_by_id(previous_pick.winner_id) %>

              <div class="spacer">&nbsp;</div>

              <div class="game game-top winner <%= previous_pick&.winner_id == player_a.id ? (previous_pick&.winner_id == match&.winner_id ? 'correct-pick' : 'incorrect-pick') : nil %>"><%= player_a&.name %></div>

              <div class="spacer">&nbsp;</div>
            <% end %>
          </div>
          <div class="round round-5 right losers">
            <% @matches.select{ |match| match.round == 5 && match.group == 'A' && match.bracket_section == 'losers' }.each do |match| %>
              <% player_a_previous_match = Match.find_by_id(match.player_a_previous_match_id) %>
              <% player_a_previous_match_pick = @picks.find_by(pickable_id: match.player_a_previous_match_id) %>
              <% match_player_a_previous_match_pick = @picks.find_by(pickable_id: player_a_previous_match.player_a_previous_match_id) %>
              <% match_player_b_previous_match_pick = @picks.find_by(pickable_id: player_a_previous_match.player_b_previous_match_id) %>

              <% player_a = Player.find_by_id(
                player_a_previous_match_pick&.winner_id == match_player_a_previous_match_pick&.winner_id ? match_player_b_previous_match_pick&.winner_id : match_player_a_previous_match_pick&.winner_id
                )
              %>
              <% player_b = Player.find_by_id(@picks.find_by(pickable_id: match.player_b_previous_match_id).winner_id) %>

              <% pick = @picks.find_by(pickable_id: match.id) %>

              <div class="spacer">&nbsp;</div>

              <div class="game game-top <%= 'winner' if pick&.winner_id == player_a&.id %> <%= pick&.winner_id == player_a.id ? (pick&.winner_id == match&.winner_id ? 'correct-pick' : 'incorrect-pick') : nil %>"><%= player_a&.name %></div>
              <div class="game game-spacer">&nbsp;</div>
              <div class="game game-bottom <%= 'winner' if pick&.winner_id == player_b&.id %> <%= pick&.winner_id == player_b.id ? (pick&.winner_id == match&.winner_id ? 'correct-pick' : 'incorrect-pick') : nil %>"><%= player_b&.name  %></div>

              <div class="spacer">&nbsp;</div>
              <div class="spacer">&nbsp;</div>
              <div class="spacer">&nbsp;</div>
            <% end %>
            <div class="spacer">&nbsp;</div>
            <div class="spacer">&nbsp;</div>
          </div>
          <div class="round round-4 right">
            <% @matches.select{ |match| match.round == 4 && match.group == 'A' && match.bracket_section == 'losers' }.each do |match| %>
              <% player_a = Player.find_by_id(@picks.find_by(pickable_id: match.player_a_previous_match_id).winner_id) %>
              <% player_b = Player.find_by_id(@picks.find_by(pickable_id: match.player_b_previous_match_id).winner_id) %>

              <% pick = @picks.find_by(pickable_id: match.id) %>

              <div class="spacer">&nbsp;</div>

              <div class="game game-top <%= 'winner' if pick&.winner_id == player_a&.id %> <%= pick&.winner_id == player_a.id ? (pick&.winner_id == match&.winner_id ? 'correct-pick' : 'incorrect-pick') : nil %>"><%= player_a&.name %></div>
              <div class="game game-spacer">&nbsp;</div>
              <div class="game game-bottom <%= 'winner' if pick&.winner_id == player_b&.id %> <%= pick&.winner_id == player_b.id ? (pick&.winner_id == match&.winner_id ? 'correct-pick' : 'incorrect-pick') : nil %>"><%= player_b&.name  %></div>

              <div class="spacer">&nbsp;</div>
            <% end %>
            <div class="spacer">&nbsp;</div>
          </div>
          <div class="round round-3 right">
            <% @matches.select{ |match| match.round == 3 && match.group == 'A' && match.bracket_section == 'losers' }.each do |match| %>
              <% player_a_previous_match = Match.find_by_id(match.player_a_previous_match_id) %>
              <% player_a_previous_match_pick = @picks.find_by(pickable_id: match.player_a_previous_match_id) %>
              <% match_player_a_previous_match_pick = @picks.find_by(pickable_id: player_a_previous_match.player_a_previous_match_id) %>
              <% match_player_b_previous_match_pick = @picks.find_by(pickable_id: player_a_previous_match.player_b_previous_match_id) %>

              <% player_a = Player.find_by_id(
                player_a_previous_match_pick&.winner_id == match_player_a_previous_match_pick&.winner_id ? match_player_b_previous_match_pick&.winner_id : match_player_a_previous_match_pick&.winner_id
                )
              %>
              <% player_b = Player.find_by_id(@picks.find_by(pickable_id: match.player_b_previous_match_id).winner_id) %>

              <% pick = @picks.find_by(pickable_id: match.id) %>

              <div class="spacer">&nbsp;</div>

              <div class="game game-top <%= 'winner' if pick&.winner_id == player_a&.id %> <%= pick&.winner_id == player_a.id ? (pick&.winner_id == match&.winner_id ? 'correct-pick' : 'incorrect-pick') : nil %>"><%= player_a&.name %></div>
              <div class="game game-spacer">&nbsp;</div>
              <div class="game game-bottom <%= 'winner' if pick&.winner_id == player_b&.id %> <%= pick&.winner_id == player_b.id ? (pick&.winner_id == match&.winner_id ? 'correct-pick' : 'incorrect-pick') : nil %>"><%= player_b&.name  %></div>

              <div class="spacer">&nbsp;</div>
            <% end %>
            <div class="spacer">&nbsp;</div>
          </div>
          <div class="round round-2 right">
            <div class="spacer">&nbsp;</div>
            <% @matches.select{ |match| match.round == 2 && match.group == 'A' && match.bracket_section == 'losers' }.each do |match| %>
              <% player_a_pick = @picks.find_by(pickable_id: match.player_a_previous_match_id) %>
              <% player_a_previous_match = player_a_pick.pickable %>
              <% player_a_id = player_a_pick.winner_id == player_a_previous_match.player_a_id ? player_a_previous_match.player_b_id : player_a_previous_match.player_a_id %>
              <% player_a = Player.find_by_id(player_a_id) %>

              <% player_b_pick = @picks.find_by(pickable_id: match.player_b_previous_match_id) %>
              <% player_b_previous_match = player_b_pick.pickable %>
              <% player_b_id = player_b_pick.winner_id == player_b_previous_match.player_a_id ? player_b_previous_match.player_b_id : player_b_previous_match.player_a_id %>
              <% player_b = Player.find_by_id(player_b_id) %>

              <% pick = @picks.find_by(pickable_id: match.id) %>

              <div class="spacer">&nbsp;</div>

              <div class="game game-top <%= 'winner' if pick&.winner_id == player_a&.id %> <%= pick&.winner_id == player_a.id ? (pick&.winner_id == match&.winner_id ? 'correct-pick' : 'incorrect-pick') : nil %>"><%= player_a&.name %></div>
              <div class="game game-spacer">&nbsp;</div>
              <div class="game game-bottom <%= 'winner' if pick&.winner_id == player_b&.id %> <%= pick&.winner_id == player_b.id ? (pick&.winner_id == match&.winner_id ? 'correct-pick' : 'incorrect-pick') : nil %>"><%= player_b&.name  %></div>

              <div class="spacer">&nbsp;</div>
            <% end %>
          </div>
        </div>

        <div class="col"><h1>Group B</h1><h3>Winner's Bracket <span style="float: right;">Loser's Bracket</span></h3></div>
        <div class="bracket">
          <div class="round round-1">
            <% @matches.select{ |match| match.round == 1 && match.group == 'B' && match.bracket_section == 'winners' }.each do |match| %>
              <% player_a = Player.find_by_id(match.player_a_id) %>
              <% player_b = Player.find_by_id(match.player_b_id) %>

              <% pick = @picks.find_by(pickable_id: match.id) %>

              <div class="spacer">&nbsp;</div>

              <div class="game game-top <%= 'winner' if pick&.winner_id == player_a&.id %> <%= pick&.winner_id == player_a.id ? (pick&.winner_id == match&.winner_id ? 'correct-pick' : 'incorrect-pick') : nil %>">
                <%= player_a&.name %>
                <%= image_tag "#{player_a.image_url}" %>
              </div>
              <div class="game game-spacer">&nbsp;
              </div>
              <div class="game game-bottom <%= 'winner' if pick&.winner_id == player_b&.id %> <%= pick&.winner_id == player_b.id ? (pick&.winner_id == match&.winner_id ? 'correct-pick' : 'incorrect-pick') : nil %>">
                <%= player_b&.name %>
                <%= image_tag "#{player_b.image_url}" %>
              </div>

              <div class="spacer">&nbsp;</div>
            <% end %>
          </div>
          <div class="round round-2">
            <% @matches.select{ |match| match.round == 2 && match.group == 'B' && match.bracket_section == 'winners' }.each do |match| %>
              <% player_a = Player.find_by_id(@picks.find_by(pickable_id: match.player_a_previous_match_id).winner_id) %>
              <% player_b = Player.find_by_id(@picks.find_by(pickable_id: match.player_b_previous_match_id).winner_id) %>
              <% pick = @picks.find_by(pickable_id: match.id) %>

              <div class="spacer">&nbsp;</div>

              <div class="game game-top <%= 'winner' if pick&.winner_id == player_a&.id %> <%= pick&.winner_id == player_a.id ? (pick&.winner_id == match&.winner_id ? 'correct-pick' : 'incorrect-pick') : nil %>"><%= player_a&.name %></div>
              <div class="game game-spacer">&nbsp;</div>
              <div class="game game-bottom <%= 'winner' if pick&.winner_id == player_b&.id %> <%= pick&.winner_id == player_b.id ? (pick&.winner_id == match&.winner_id ? 'correct-pick' : 'incorrect-pick') : nil %>"><%= player_b&.name  %></div>

              <div class="spacer">&nbsp;</div>
            <% end %>
          </div>
          <div class="round round-3">
            <% @matches.select{ |match| match.round == 3 && match.group == 'B' && match.bracket_section == 'winners' }.each do |match| %>
              <% player_a = Player.find_by_id(@picks.find_by(pickable_id: match.player_a_previous_match_id).winner_id) %>
              <% player_b = Player.find_by_id(@picks.find_by(pickable_id: match.player_b_previous_match_id).winner_id) %>

              <% pick = @picks.find_by(pickable_id: match.id) %>

              <div class="spacer">&nbsp;</div>

              <div class="game game-top <%= 'winner' if pick&.winner_id == player_a&.id %> <%= pick&.winner_id == player_a.id ? (pick&.winner_id == match&.winner_id ? 'correct-pick' : 'incorrect-pick') : nil %>"><%= player_a&.name %></div>
              <div class="game game-spacer">&nbsp;</div>
              <div class="game game-bottom <%= 'winner' if pick&.winner_id == player_b&.id %> <%= pick&.winner_id == player_b.id ? (pick&.winner_id == match&.winner_id ? 'correct-pick' : 'incorrect-pick') : nil %>"><%= player_b&.name  %></div>

              <div class="spacer">&nbsp;</div>
            <% end %>
          </div>
          <div class="round round-4">
            <% @matches.select{ |match| match.round == 3 && match.group == 'B' && match.bracket_section == 'winners' }.each do |match| %>
              <% previous_pick = @picks.find_by(pickable_id: match.id) %>
              <% player_a = Player.find_by_id(previous_pick.winner_id) %>

              <div class="spacer">&nbsp;</div>

              <div class="game game-top winner <%= previous_pick&.winner_id == player_a.id ? (previous_pick&.winner_id == match&.winner_id ? 'correct-pick' : 'incorrect-pick') : nil %>"><%= player_a&.name %></div>

              <div class="spacer">&nbsp;</div>
            <% end %>
          </div>
          <div class="round bracket-winner">
            <strong>Top 4 advance to Saturday</strong>
          </div>
          <div class="round round-6 right">
            <% @matches.select{ |match| match.round == 5 && match.group == 'B' && match.bracket_section == 'losers' }.each do |match| %>
              <% previous_pick = @picks.find_by(pickable_id: match.id) %>
              <% player_a = Player.find_by_id(previous_pick.winner_id) %>

              <div class="spacer">&nbsp;</div>

              <div class="game game-top winner <%= previous_pick&.winner_id == player_a.id ? (previous_pick&.winner_id == match&.winner_id ? 'correct-pick' : 'incorrect-pick') : nil %>"><%= player_a&.name %></div>

              <div class="spacer">&nbsp;</div>
            <% end %>
          </div>
          <div class="round round-5 right losers">
            <% @matches.select{ |match| match.round == 5 && match.group == 'B' && match.bracket_section == 'losers' }.each do |match| %>
              <% player_a_previous_match = Match.find_by_id(match.player_a_previous_match_id) %>
              <% player_a_previous_match_pick = @picks.find_by(pickable_id: match.player_a_previous_match_id) %>
              <% match_player_a_previous_match_pick = @picks.find_by(pickable_id: player_a_previous_match.player_a_previous_match_id) %>
              <% match_player_b_previous_match_pick = @picks.find_by(pickable_id: player_a_previous_match.player_b_previous_match_id) %>

              <% player_a = Player.find_by_id(
                player_a_previous_match_pick&.winner_id == match_player_a_previous_match_pick&.winner_id ? match_player_b_previous_match_pick&.winner_id : match_player_a_previous_match_pick&.winner_id
                )
              %>
              <% player_b = Player.find_by_id(@picks.find_by(pickable_id: match.player_b_previous_match_id).winner_id) %>

              <% pick = @picks.find_by(pickable_id: match.id) %>

              <div class="spacer">&nbsp;</div>

              <div class="game game-top <%= 'winner' if pick&.winner_id == player_a&.id %> <%= pick&.winner_id == player_a.id ? (pick&.winner_id == match&.winner_id ? 'correct-pick' : 'incorrect-pick') : nil %>"><%= player_a&.name %></div>
              <div class="game game-spacer">&nbsp;</div>
              <div class="game game-bottom <%= 'winner' if pick&.winner_id == player_b&.id %> <%= pick&.winner_id == player_b.id ? (pick&.winner_id == match&.winner_id ? 'correct-pick' : 'incorrect-pick') : nil %>"><%= player_b&.name  %></div>

              <div class="spacer">&nbsp;</div>
              <div class="spacer">&nbsp;</div>
              <div class="spacer">&nbsp;</div>
            <% end %>
            <div class="spacer">&nbsp;</div>
            <div class="spacer">&nbsp;</div>
          </div>
          <div class="round round-4 right">
            <% @matches.select{ |match| match.round == 4 && match.group == 'B' && match.bracket_section == 'losers' }.each do |match| %>
              <% player_a = Player.find_by_id(@picks.find_by(pickable_id: match.player_a_previous_match_id).winner_id) %>
              <% player_b = Player.find_by_id(@picks.find_by(pickable_id: match.player_b_previous_match_id).winner_id) %>

              <% pick = @picks.find_by(pickable_id: match.id) %>

              <div class="spacer">&nbsp;</div>

              <div class="game game-top <%= 'winner' if pick&.winner_id == player_a&.id %> <%= pick&.winner_id == player_a.id ? (pick&.winner_id == match&.winner_id ? 'correct-pick' : 'incorrect-pick') : nil %>"><%= player_a&.name %></div>
              <div class="game game-spacer">&nbsp;</div>
              <div class="game game-bottom <%= 'winner' if pick&.winner_id == player_b&.id %> <%= pick&.winner_id == player_b.id ? (pick&.winner_id == match&.winner_id ? 'correct-pick' : 'incorrect-pick') : nil %>"><%= player_b&.name  %></div>

              <div class="spacer">&nbsp;</div>
            <% end %>
            <div class="spacer">&nbsp;</div>
          </div>
          <div class="round round-3 right">
            <% @matches.select{ |match| match.round == 3 && match.group == 'B' && match.bracket_section == 'losers' }.each do |match| %>
              <% player_a_previous_match = Match.find_by_id(match.player_a_previous_match_id) %>
              <% player_a_previous_match_pick = @picks.find_by(pickable_id: match.player_a_previous_match_id) %>
              <% match_player_a_previous_match_pick = @picks.find_by(pickable_id: player_a_previous_match.player_a_previous_match_id) %>
              <% match_player_b_previous_match_pick = @picks.find_by(pickable_id: player_a_previous_match.player_b_previous_match_id) %>

              <% player_a = Player.find_by_id(
                player_a_previous_match_pick&.winner_id == match_player_a_previous_match_pick&.winner_id ? match_player_b_previous_match_pick&.winner_id : match_player_a_previous_match_pick&.winner_id
                )
              %>
              <% player_b = Player.find_by_id(@picks.find_by(pickable_id: match.player_b_previous_match_id).winner_id) %>

              <% pick = @picks.find_by(pickable_id: match.id) %>

              <div class="spacer">&nbsp;</div>

              <div class="game game-top <%= 'winner' if pick&.winner_id == player_a&.id %> <%= pick&.winner_id == player_a.id ? (pick&.winner_id == match&.winner_id ? 'correct-pick' : 'incorrect-pick') : nil %>"><%= player_a&.name %></div>
              <div class="game game-spacer">&nbsp;</div>
              <div class="game game-bottom <%= 'winner' if pick&.winner_id == player_b&.id %> <%= pick&.winner_id == player_b.id ? (pick&.winner_id == match&.winner_id ? 'correct-pick' : 'incorrect-pick') : nil %>"><%= player_b&.name  %></div>

              <div class="spacer">&nbsp;</div>
            <% end %>
            <div class="spacer">&nbsp;</div>
          </div>
          <div class="round round-2 right">
            <div class="spacer">&nbsp;</div>
            <% @matches.select{ |match| match.round == 2 && match.group == 'B' && match.bracket_section == 'losers' }.each do |match| %>
              <% player_a_pick = @picks.find_by(pickable_id: match.player_a_previous_match_id) %>
              <% player_a_previous_match = player_a_pick.pickable %>
              <% player_a_id = player_a_pick.winner_id == player_a_previous_match.player_a_id ? player_a_previous_match.player_b_id : player_a_previous_match.player_a_id %>
              <% player_a = Player.find_by_id(player_a_id) %>

              <% player_b_pick = @picks.find_by(pickable_id: match.player_b_previous_match_id) %>
              <% player_b_previous_match = player_b_pick.pickable %>
              <% player_b_id = player_b_pick.winner_id == player_b_previous_match.player_a_id ? player_b_previous_match.player_b_id : player_b_previous_match.player_a_id %>
              <% player_b = Player.find_by_id(player_b_id) %>

              <% pick = @picks.find_by(pickable_id: match.id) %>

              <div class="spacer">&nbsp;</div>

              <div class="game game-top <%= 'winner' if pick&.winner_id == player_a&.id %> <%= pick&.winner_id == player_a.id ? (pick&.winner_id == match&.winner_id ? 'correct-pick' : 'incorrect-pick') : nil %>"><%= player_a&.name %></div>
              <div class="game game-spacer">&nbsp;</div>
              <div class="game game-bottom <%= 'winner' if pick&.winner_id == player_b&.id %> <%= pick&.winner_id == player_b.id ? (pick&.winner_id == match&.winner_id ? 'correct-pick' : 'incorrect-pick') : nil %>"><%= player_b&.name  %></div>

              <div class="spacer">&nbsp;</div>
            <% end %>
          </div>
        </div>

        <div class="col"><h1>Group C</h1><h3>Winner's Bracket <span style="float: right;">Loser's Bracket</span></h3></div>
        <div class="bracket">
          <div class="round round-1">
            <% @matches.select{ |match| match.round == 1 && match.group == 'C' && match.bracket_section == 'winners' }.each do |match| %>
              <% player_a = Player.find_by_id(match.player_a_id) %>
              <% player_b = Player.find_by_id(match.player_b_id) %>

              <% pick = @picks.find_by(pickable_id: match.id) %>

              <div class="spacer">&nbsp;</div>

              <div class="game game-top <%= 'winner' if pick&.winner_id == player_a&.id %> <%= pick&.winner_id == player_a.id ? (pick&.winner_id == match&.winner_id ? 'correct-pick' : 'incorrect-pick') : nil %>">
                <%= player_a&.name %>
                <%= image_tag "#{player_a.image_url}" %>
              </div>
              <div class="game game-spacer">&nbsp;
              </div>
              <div class="game game-bottom <%= 'winner' if pick&.winner_id == player_b&.id %> <%= pick&.winner_id == player_b.id ? (pick&.winner_id == match&.winner_id ? 'correct-pick' : 'incorrect-pick') : nil %>">
                <%= player_b&.name %>
                <%= image_tag "#{player_b.image_url}" %>
              </div>

              <div class="spacer">&nbsp;</div>
            <% end %>
          </div>
          <div class="round round-2">
            <% @matches.select{ |match| match.round == 2 && match.group == 'C' && match.bracket_section == 'winners' }.each do |match| %>
              <% player_a = Player.find_by_id(@picks.find_by(pickable_id: match.player_a_previous_match_id).winner_id) %>
              <% player_b = Player.find_by_id(@picks.find_by(pickable_id: match.player_b_previous_match_id).winner_id) %>
              <% pick = @picks.find_by(pickable_id: match.id) %>

              <div class="spacer">&nbsp;</div>

              <div class="game game-top <%= 'winner' if pick&.winner_id == player_a&.id %> <%= pick&.winner_id == player_a.id ? (pick&.winner_id == match&.winner_id ? 'correct-pick' : 'incorrect-pick') : nil %>"><%= player_a&.name %></div>
              <div class="game game-spacer">&nbsp;</div>
              <div class="game game-bottom <%= 'winner' if pick&.winner_id == player_b&.id %> <%= pick&.winner_id == player_b.id ? (pick&.winner_id == match&.winner_id ? 'correct-pick' : 'incorrect-pick') : nil %>"><%= player_b&.name  %></div>

              <div class="spacer">&nbsp;</div>
            <% end %>
          </div>
          <div class="round round-3">
            <% @matches.select{ |match| match.round == 3 && match.group == 'C' && match.bracket_section == 'winners' }.each do |match| %>
              <% player_a = Player.find_by_id(@picks.find_by(pickable_id: match.player_a_previous_match_id).winner_id) %>
              <% player_b = Player.find_by_id(@picks.find_by(pickable_id: match.player_b_previous_match_id).winner_id) %>

              <% pick = @picks.find_by(pickable_id: match.id) %>

              <div class="spacer">&nbsp;</div>

              <div class="game game-top <%= 'winner' if pick&.winner_id == player_a&.id %> <%= pick&.winner_id == player_a.id ? (pick&.winner_id == match&.winner_id ? 'correct-pick' : 'incorrect-pick') : nil %>"><%= player_a&.name %></div>
              <div class="game game-spacer">&nbsp;</div>
              <div class="game game-bottom <%= 'winner' if pick&.winner_id == player_b&.id %> <%= pick&.winner_id == player_b.id ? (pick&.winner_id == match&.winner_id ? 'correct-pick' : 'incorrect-pick') : nil %>"><%= player_b&.name  %></div>

              <div class="spacer">&nbsp;</div>
            <% end %>
          </div>
          <div class="round round-4">
            <% @matches.select{ |match| match.round == 3 && match.group == 'C' && match.bracket_section == 'winners' }.each do |match| %>
              <% previous_pick = @picks.find_by(pickable_id: match.id) %>
              <% player_a = Player.find_by_id(previous_pick.winner_id) %>

              <div class="spacer">&nbsp;</div>

              <div class="game game-top winner <%= previous_pick&.winner_id == player_a.id ? (previous_pick&.winner_id == match&.winner_id ? 'correct-pick' : 'incorrect-pick') : nil %>"><%= player_a&.name %></div>

              <div class="spacer">&nbsp;</div>
            <% end %>
          </div>
          <div class="round bracket-winner">
            <strong>Top 4 advance to Saturday</strong>
          </div>
          <div class="round round-6 right">
            <% @matches.select{ |match| match.round == 5 && match.group == 'C' && match.bracket_section == 'losers' }.each do |match| %>
              <% previous_pick = @picks.find_by(pickable_id: match.id) %>
              <% player_a = Player.find_by_id(previous_pick.winner_id) %>

              <div class="spacer">&nbsp;</div>

              <div class="game game-top winner <%= previous_pick&.winner_id == player_a.id ? (previous_pick&.winner_id == match&.winner_id ? 'correct-pick' : 'incorrect-pick') : nil %>"><%= player_a&.name %></div>

              <div class="spacer">&nbsp;</div>
            <% end %>
          </div>
          <div class="round round-5 right losers">
            <% @matches.select{ |match| match.round == 5 && match.group == 'C' && match.bracket_section == 'losers' }.each do |match| %>
              <% player_a_previous_match = Match.find_by_id(match.player_a_previous_match_id) %>
              <% player_a_previous_match_pick = @picks.find_by(pickable_id: match.player_a_previous_match_id) %>
              <% match_player_a_previous_match_pick = @picks.find_by(pickable_id: player_a_previous_match.player_a_previous_match_id) %>
              <% match_player_b_previous_match_pick = @picks.find_by(pickable_id: player_a_previous_match.player_b_previous_match_id) %>

              <% player_a = Player.find_by_id(
                player_a_previous_match_pick&.winner_id == match_player_a_previous_match_pick&.winner_id ? match_player_b_previous_match_pick&.winner_id : match_player_a_previous_match_pick&.winner_id
                )
              %>
              <% player_b = Player.find_by_id(@picks.find_by(pickable_id: match.player_b_previous_match_id).winner_id) %>

              <% pick = @picks.find_by(pickable_id: match.id) %>

              <div class="spacer">&nbsp;</div>

              <div class="game game-top <%= 'winner' if pick&.winner_id == player_a&.id %> <%= pick&.winner_id == player_a.id ? (pick&.winner_id == match&.winner_id ? 'correct-pick' : 'incorrect-pick') : nil %>"><%= player_a&.name %></div>
              <div class="game game-spacer">&nbsp;</div>
              <div class="game game-bottom <%= 'winner' if pick&.winner_id == player_b&.id %> <%= pick&.winner_id == player_b.id ? (pick&.winner_id == match&.winner_id ? 'correct-pick' : 'incorrect-pick') : nil %>"><%= player_b&.name  %></div>

              <div class="spacer">&nbsp;</div>
              <div class="spacer">&nbsp;</div>
              <div class="spacer">&nbsp;</div>
            <% end %>
            <div class="spacer">&nbsp;</div>
            <div class="spacer">&nbsp;</div>
          </div>
          <div class="round round-4 right">
            <% @matches.select{ |match| match.round == 4 && match.group == 'C' && match.bracket_section == 'losers' }.each do |match| %>
              <% player_a = Player.find_by_id(@picks.find_by(pickable_id: match.player_a_previous_match_id).winner_id) %>
              <% player_b = Player.find_by_id(@picks.find_by(pickable_id: match.player_b_previous_match_id).winner_id) %>

              <% pick = @picks.find_by(pickable_id: match.id) %>

              <div class="spacer">&nbsp;</div>

              <div class="game game-top <%= 'winner' if pick&.winner_id == player_a&.id %> <%= pick&.winner_id == player_a.id ? (pick&.winner_id == match&.winner_id ? 'correct-pick' : 'incorrect-pick') : nil %>"><%= player_a&.name %></div>
              <div class="game game-spacer">&nbsp;</div>
              <div class="game game-bottom <%= 'winner' if pick&.winner_id == player_b&.id %> <%= pick&.winner_id == player_b.id ? (pick&.winner_id == match&.winner_id ? 'correct-pick' : 'incorrect-pick') : nil %>"><%= player_b&.name  %></div>

              <div class="spacer">&nbsp;</div>
            <% end %>
            <div class="spacer">&nbsp;</div>
          </div>
          <div class="round round-3 right">
            <% @matches.select{ |match| match.round == 3 && match.group == 'C' && match.bracket_section == 'losers' }.each do |match| %>
              <% player_a_previous_match = Match.find_by_id(match.player_a_previous_match_id) %>
              <% player_a_previous_match_pick = @picks.find_by(pickable_id: match.player_a_previous_match_id) %>
              <% match_player_a_previous_match_pick = @picks.find_by(pickable_id: player_a_previous_match.player_a_previous_match_id) %>
              <% match_player_b_previous_match_pick = @picks.find_by(pickable_id: player_a_previous_match.player_b_previous_match_id) %>

              <% player_a = Player.find_by_id(
                player_a_previous_match_pick&.winner_id == match_player_a_previous_match_pick&.winner_id ? match_player_b_previous_match_pick&.winner_id : match_player_a_previous_match_pick&.winner_id
                )
              %>
              <% player_b = Player.find_by_id(@picks.find_by(pickable_id: match.player_b_previous_match_id).winner_id) %>

              <% pick = @picks.find_by(pickable_id: match.id) %>

              <div class="spacer">&nbsp;</div>

              <div class="game game-top <%= 'winner' if pick&.winner_id == player_a&.id %> <%= pick&.winner_id == player_a.id ? (pick&.winner_id == match&.winner_id ? 'correct-pick' : 'incorrect-pick') : nil %>"><%= player_a&.name %></div>
              <div class="game game-spacer">&nbsp;</div>
              <div class="game game-bottom <%= 'winner' if pick&.winner_id == player_b&.id %> <%= pick&.winner_id == player_b.id ? (pick&.winner_id == match&.winner_id ? 'correct-pick' : 'incorrect-pick') : nil %>"><%= player_b&.name  %></div>

              <div class="spacer">&nbsp;</div>
            <% end %>
            <div class="spacer">&nbsp;</div>
          </div>
          <div class="round round-2 right">
            <div class="spacer">&nbsp;</div>
            <% @matches.select{ |match| match.round == 2 && match.group == 'C' && match.bracket_section == 'losers' }.each do |match| %>
              <% player_a_pick = @picks.find_by(pickable_id: match.player_a_previous_match_id) %>
              <% player_a_previous_match = player_a_pick.pickable %>
              <% player_a_id = player_a_pick.winner_id == player_a_previous_match.player_a_id ? player_a_previous_match.player_b_id : player_a_previous_match.player_a_id %>
              <% player_a = Player.find_by_id(player_a_id) %>

              <% player_b_pick = @picks.find_by(pickable_id: match.player_b_previous_match_id) %>
              <% player_b_previous_match = player_b_pick.pickable %>
              <% player_b_id = player_b_pick.winner_id == player_b_previous_match.player_a_id ? player_b_previous_match.player_b_id : player_b_previous_match.player_a_id %>
              <% player_b = Player.find_by_id(player_b_id) %>

              <% pick = @picks.find_by(pickable_id: match.id) %>

              <div class="spacer">&nbsp;</div>

              <div class="game game-top <%= 'winner' if pick&.winner_id == player_a&.id %> <%= pick&.winner_id == player_a.id ? (pick&.winner_id == match&.winner_id ? 'correct-pick' : 'incorrect-pick') : nil %>"><%= player_a&.name %></div>
              <div class="game game-spacer">&nbsp;</div>
              <div class="game game-bottom <%= 'winner' if pick&.winner_id == player_b&.id %> <%= pick&.winner_id == player_b.id ? (pick&.winner_id == match&.winner_id ? 'correct-pick' : 'incorrect-pick') : nil %>"><%= player_b&.name  %></div>

              <div class="spacer">&nbsp;</div>
            <% end %>
          </div>
        </div>

        <div class="col"><h1>Group D</h1><h3>Winner's Bracket <span style="float: right;">Loser's Bracket</span></h3></div>
        <div class="bracket">
          <div class="round round-1">
            <% @matches.select{ |match| match.round == 1 && match.group == 'D' && match.bracket_section == 'winners' }.each do |match| %>
              <% player_a = Player.find_by_id(match.player_a_id) %>
              <% player_b = Player.find_by_id(match.player_b_id) %>

              <% pick = @picks.find_by(pickable_id: match.id) %>

              <div class="spacer">&nbsp;</div>

              <div class="game game-top <%= 'winner' if pick&.winner_id == player_a&.id %> <%= pick&.winner_id == player_a.id ? (pick&.winner_id == match&.winner_id ? 'correct-pick' : 'incorrect-pick') : nil %>">
                <%= player_a&.name %>
                <%= image_tag "#{player_a.image_url}" %>
              </div>
              <div class="game game-spacer">&nbsp;
              </div>
              <div class="game game-bottom <%= 'winner' if pick&.winner_id == player_b&.id %> <%= pick&.winner_id == player_b.id ? (pick&.winner_id == match&.winner_id ? 'correct-pick' : 'incorrect-pick') : nil %>">
                <%= player_b&.name %>
                <%= image_tag "#{player_b.image_url}" %>
              </div>

              <div class="spacer">&nbsp;</div>
            <% end %>
          </div>
          <div class="round round-2">
            <% @matches.select{ |match| match.round == 2 && match.group == 'D' && match.bracket_section == 'winners' }.each do |match| %>
              <% player_a = Player.find_by_id(@picks.find_by(pickable_id: match.player_a_previous_match_id).winner_id) %>
              <% player_b = Player.find_by_id(@picks.find_by(pickable_id: match.player_b_previous_match_id).winner_id) %>
              <% pick = @picks.find_by(pickable_id: match.id) %>

              <div class="spacer">&nbsp;</div>

              <div class="game game-top <%= 'winner' if pick&.winner_id == player_a&.id %> <%= pick&.winner_id == player_a.id ? (pick&.winner_id == match&.winner_id ? 'correct-pick' : 'incorrect-pick') : nil %>"><%= player_a&.name %></div>
              <div class="game game-spacer">&nbsp;</div>
              <div class="game game-bottom <%= 'winner' if pick&.winner_id == player_b&.id %> <%= pick&.winner_id == player_b.id ? (pick&.winner_id == match&.winner_id ? 'correct-pick' : 'incorrect-pick') : nil %>"><%= player_b&.name  %></div>

              <div class="spacer">&nbsp;</div>
            <% end %>
          </div>
          <div class="round round-3">
            <% @matches.select{ |match| match.round == 3 && match.group == 'D' && match.bracket_section == 'winners' }.each do |match| %>
              <% player_a = Player.find_by_id(@picks.find_by(pickable_id: match.player_a_previous_match_id).winner_id) %>
              <% player_b = Player.find_by_id(@picks.find_by(pickable_id: match.player_b_previous_match_id).winner_id) %>

              <% pick = @picks.find_by(pickable_id: match.id) %>

              <div class="spacer">&nbsp;</div>

              <div class="game game-top <%= 'winner' if pick&.winner_id == player_a&.id %> <%= pick&.winner_id == player_a.id ? (pick&.winner_id == match&.winner_id ? 'correct-pick' : 'incorrect-pick') : nil %>"><%= player_a&.name %></div>
              <div class="game game-spacer">&nbsp;</div>
              <div class="game game-bottom <%= 'winner' if pick&.winner_id == player_b&.id %> <%= pick&.winner_id == player_b.id ? (pick&.winner_id == match&.winner_id ? 'correct-pick' : 'incorrect-pick') : nil %>"><%= player_b&.name  %></div>

              <div class="spacer">&nbsp;</div>
            <% end %>
          </div>
          <div class="round round-4">
            <% @matches.select{ |match| match.round == 3 && match.group == 'D' && match.bracket_section == 'winners' }.each do |match| %>
              <% previous_pick = @picks.find_by(pickable_id: match.id) %>
              <% player_a = Player.find_by_id(previous_pick.winner_id) %>

              <div class="spacer">&nbsp;</div>

              <div class="game game-top winner <%= previous_pick&.winner_id == player_a.id ? (previous_pick&.winner_id == match&.winner_id ? 'correct-pick' : 'incorrect-pick') : nil %>"><%= player_a&.name %></div>

              <div class="spacer">&nbsp;</div>
            <% end %>
          </div>
          <div class="round bracket-winner">
            <strong>Top 4 advance to Saturday</strong>
          </div>
          <div class="round round-6 right">
            <% @matches.select{ |match| match.round == 5 && match.group == 'D' && match.bracket_section == 'losers' }.each do |match| %>
              <% previous_pick = @picks.find_by(pickable_id: match.id) %>
              <% player_a = Player.find_by_id(previous_pick.winner_id) %>

              <div class="spacer">&nbsp;</div>

              <div class="game game-top winner <%= previous_pick&.winner_id == player_a.id ? (previous_pick&.winner_id == match&.winner_id ? 'correct-pick' : 'incorrect-pick') : nil %>"><%= player_a&.name %></div>

              <div class="spacer">&nbsp;</div>
            <% end %>
          </div>
          <div class="round round-5 right losers">
            <% @matches.select{ |match| match.round == 5 && match.group == 'D' && match.bracket_section == 'losers' }.each do |match| %>
              <% player_a_previous_match = Match.find_by_id(match.player_a_previous_match_id) %>
              <% player_a_previous_match_pick = @picks.find_by(pickable_id: match.player_a_previous_match_id) %>
              <% match_player_a_previous_match_pick = @picks.find_by(pickable_id: player_a_previous_match.player_a_previous_match_id) %>
              <% match_player_b_previous_match_pick = @picks.find_by(pickable_id: player_a_previous_match.player_b_previous_match_id) %>

              <% player_a = Player.find_by_id(
                player_a_previous_match_pick&.winner_id == match_player_a_previous_match_pick&.winner_id ? match_player_b_previous_match_pick&.winner_id : match_player_a_previous_match_pick&.winner_id
                )
              %>
              <% player_b = Player.find_by_id(@picks.find_by(pickable_id: match.player_b_previous_match_id).winner_id) %>

              <% pick = @picks.find_by(pickable_id: match.id) %>

              <div class="spacer">&nbsp;</div>

              <div class="game game-top <%= 'winner' if pick&.winner_id == player_a&.id %> <%= pick&.winner_id == player_a.id ? (pick&.winner_id == match&.winner_id ? 'correct-pick' : 'incorrect-pick') : nil %>"><%= player_a&.name %></div>
              <div class="game game-spacer">&nbsp;</div>
              <div class="game game-bottom <%= 'winner' if pick&.winner_id == player_b&.id %> <%= pick&.winner_id == player_b.id ? (pick&.winner_id == match&.winner_id ? 'correct-pick' : 'incorrect-pick') : nil %>"><%= player_b&.name  %></div>

              <div class="spacer">&nbsp;</div>
              <div class="spacer">&nbsp;</div>
              <div class="spacer">&nbsp;</div>
            <% end %>
            <div class="spacer">&nbsp;</div>
            <div class="spacer">&nbsp;</div>
          </div>
          <div class="round round-4 right">
            <% @matches.select{ |match| match.round == 4 && match.group == 'D' && match.bracket_section == 'losers' }.each do |match| %>
              <% player_a = Player.find_by_id(@picks.find_by(pickable_id: match.player_a_previous_match_id).winner_id) %>
              <% player_b = Player.find_by_id(@picks.find_by(pickable_id: match.player_b_previous_match_id).winner_id) %>

              <% pick = @picks.find_by(pickable_id: match.id) %>

              <div class="spacer">&nbsp;</div>

              <div class="game game-top <%= 'winner' if pick&.winner_id == player_a&.id %> <%= pick&.winner_id == player_a.id ? (pick&.winner_id == match&.winner_id ? 'correct-pick' : 'incorrect-pick') : nil %>"><%= player_a&.name %></div>
              <div class="game game-spacer">&nbsp;</div>
              <div class="game game-bottom <%= 'winner' if pick&.winner_id == player_b&.id %> <%= pick&.winner_id == player_b.id ? (pick&.winner_id == match&.winner_id ? 'correct-pick' : 'incorrect-pick') : nil %>"><%= player_b&.name  %></div>

              <div class="spacer">&nbsp;</div>
            <% end %>
            <div class="spacer">&nbsp;</div>
          </div>
          <div class="round round-3 right">
            <% @matches.select{ |match| match.round == 3 && match.group == 'D' && match.bracket_section == 'losers' }.each do |match| %>
              <% player_a_previous_match = Match.find_by_id(match.player_a_previous_match_id) %>
              <% player_a_previous_match_pick = @picks.find_by(pickable_id: match.player_a_previous_match_id) %>
              <% match_player_a_previous_match_pick = @picks.find_by(pickable_id: player_a_previous_match.player_a_previous_match_id) %>
              <% match_player_b_previous_match_pick = @picks.find_by(pickable_id: player_a_previous_match.player_b_previous_match_id) %>

              <% player_a = Player.find_by_id(
                player_a_previous_match_pick&.winner_id == match_player_a_previous_match_pick&.winner_id ? match_player_b_previous_match_pick&.winner_id : match_player_a_previous_match_pick&.winner_id
                )
              %>
              <% player_b = Player.find_by_id(@picks.find_by(pickable_id: match.player_b_previous_match_id).winner_id) %>

              <% pick = @picks.find_by(pickable_id: match.id) %>

              <div class="spacer">&nbsp;</div>

              <div class="game game-top <%= 'winner' if pick&.winner_id == player_a&.id %> <%= pick&.winner_id == player_a.id ? (pick&.winner_id == match&.winner_id ? 'correct-pick' : 'incorrect-pick') : nil %>"><%= player_a&.name %></div>
              <div class="game game-spacer">&nbsp;</div>
              <div class="game game-bottom <%= 'winner' if pick&.winner_id == player_b&.id %> <%= pick&.winner_id == player_b.id ? (pick&.winner_id == match&.winner_id ? 'correct-pick' : 'incorrect-pick') : nil %>"><%= player_b&.name  %></div>

              <div class="spacer">&nbsp;</div>
            <% end %>
            <div class="spacer">&nbsp;</div>
          </div>
          <div class="round round-2 right">
            <div class="spacer">&nbsp;</div>
            <% @matches.select{ |match| match.round == 2 && match.group == 'D' && match.bracket_section == 'losers' }.each do |match| %>
              <% player_a_pick = @picks.find_by(pickable_id: match.player_a_previous_match_id) %>
              <% player_a_previous_match = player_a_pick.pickable %>
              <% player_a_id = player_a_pick.winner_id == player_a_previous_match.player_a_id ? player_a_previous_match.player_b_id : player_a_previous_match.player_a_id %>
              <% player_a = Player.find_by_id(player_a_id) %>

              <% player_b_pick = @picks.find_by(pickable_id: match.player_b_previous_match_id) %>
              <% player_b_previous_match = player_b_pick.pickable %>
              <% player_b_id = player_b_pick.winner_id == player_b_previous_match.player_a_id ? player_b_previous_match.player_b_id : player_b_previous_match.player_a_id %>
              <% player_b = Player.find_by_id(player_b_id) %>

              <% pick = @picks.find_by(pickable_id: match.id) %>

              <div class="spacer">&nbsp;</div>

              <div class="game game-top <%= 'winner' if pick&.winner_id == player_a&.id %> <%= pick&.winner_id == player_a.id ? (pick&.winner_id == match&.winner_id ? 'correct-pick' : 'incorrect-pick') : nil %>"><%= player_a&.name %></div>
              <div class="game game-spacer">&nbsp;</div>
              <div class="game game-bottom <%= 'winner' if pick&.winner_id == player_b&.id %> <%= pick&.winner_id == player_b.id ? (pick&.winner_id == match&.winner_id ? 'correct-pick' : 'incorrect-pick') : nil %>"><%= player_b&.name  %></div>

              <div class="spacer">&nbsp;</div>
            <% end %>
          </div>
        </div>
      </div>
    <% else %>
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>
              Points
            </th>
            <th>
              <%= @player_type %>
            </th>
          </tr>
        </thead>
        <tbody>
          <% @players.sort_by { |player| player.result(@team.league.leagueable)&.points or 0 }.reverse.each do |player| %>
          <tr id="<%= player.name %>">
            <td>
              <%= player.result(@team.league.leagueable)&.points ? player.result(@team.league.leagueable)&.points : "N/A" %>
            </td>
            <td>
              <%= player.name %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>
