<div class="row">
  <div class="col-md-8 offset-md-2">
    <%= link_to "< Back To Your League", game_competition_league_path(@team.league.leagueable.game, @team.league.leagueable, @team.league) %>

    <h1>
      <%= @team.name %>
      <% if current_user == @team.user || current_user == @team.league.admin || current_user.admin %>
        <%= link_to "(Edit)", edit_game_competition_league_team_path(@team.league.leagueable.game, @team.league.leagueable, @team.league, @team) %>
      <% end %>
    </h1>
    <% if @team.league.draft_type == 'special' %>
      <% if @team.supporting.blank? %>
        <p>
          Supporting: No one. Edit your team to support a player and we'll donate $1 to their charity campaign!
        </p>
      <% else %>
        <p>
          Suppporting: <%= @team.supporting&.humanize&.titleize %>
        </p>
      <% end %>
    <% end %>
    <p>
      <em>(Through Round <%= @team.league.leagueable.score_as_of_round %>)</em>
    </p>

    <% if @picks %>
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>
              Match
            </th>
            <th>
              Your Pick to Win
            </th>
          </tr>
        </thead>
        <tbody>
          <% @picks.each do |pick| %>
          <tr id="<%= pick.id %>">
            <td>
              <%= pick.pickable.player_a.name %> vs. <%= pick.pickable.player_b.name %>
            </td>
            <td>
              <%= pick.winner&.name %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>
              Points
            </th>
            <th>
              <%= @player_type %>
            </th>
          </tr>
        </thead>
        <tbody>
          <% @players.sort_by { |player| player.result(@team.league.leagueable)&.points or 0 }.reverse.each do |player| %>
          <tr id="<%= player.name %>">
            <td>
              <%= player.result(@team.league.leagueable)&.points ? player.result(@team.league.leagueable)&.points : "N/A" %>
            </td>
            <td>
              <%= player.name %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</div>
