<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Good news, <%= @league_admin.name %>!</h1>
    <p>
      <%= @user.name %> has accepted their invite to your <%= @league.leagueable.name %> Fantasy Draft.
    </p>
    <p>
      Your league now has <%= @league.league_users.where(confirmed: true).count %> confirmed and <%= @league.league_users.where(confirmed: false).count %> unconfirmed participants.
    </p>
    <p>
      Click <%= link_to "here", @url %> whenever you're ready to start your draft.
    </p>
    <p>Thanks for using Thousand Leagues!</p>
  </body>
</html>
