<td>
  <%= standing.player_points %>
</td>
<td>
  <%= standing.tiebreakers['rivals_player_points']['first_tiebreaker'] %>
</td>
<td>
  <%= standing.tiebreakers['rivals_player_points']['second_tiebreaker'] %>
</td>
<td>
  <%= standing.tiebreakers['rivals_player_points']['third_tiebreaker'] %>
</td>
<td>
  <%= standing.tiebreakers['rivals_player_points']['third_tiebreaker'] %>
</td>