<div class="row">
  <div class="col-md-6 offset-md-3">
    <h2>Resend confirmation instructions</h2>
    <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
      <%= devise_error_messages! %>

      <div class="form-group required">
        <%= f.label :email, class: "control-label" %>
        <%= f.email_field :email, autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), required: true, class: "form-control" %>
      </div>

      <div class="actions">
        <%= f.submit "Resend Confirmation Instructions", class: "btn btn-primary" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
