<div id="league-info">
  <h1><%= @league.leagueable.name %></h1>
    <% if current_user == @league.admin || current_user.admin %>
      <div class="actions">
        <p>
          <% if !@league.draft.completed && !@league.draft.active %>
            <%= link_to "Edit", edit_game_competition_league_path(@game, @competition, @league), class: "btn btn-sm btn-secondary" %>
            <%= link_to "Start Draft", game_competition_league_draft_start_path(@competition.game, @competition, @league, @league.draft), method: "post", class: "btn btn-sm btn-success" %>
          <% end %>
        </p>
      </div>
    <% end %>
  <p>
    <strong>Commissioner:</strong> <%= @league.admin.name %>
  </p>
  <p>
    <strong>Rounds:</strong> <%= @league.num_draft_rounds %>
  </p>
  <p>
    <strong>Pick Type:</strong> <%= @league.pick_type&.titleize %>
  </p>
  <p>
    <strong>Draft Start:</strong>
    <% if @league.draft.start_time %>
      <%= @league.draft.start_time.localtime.strftime("%m/%d/%Y at %I:%M%p") %>
    <% else %>
      No time has been set
    <% end %>
  </p>
  <p>
    <strong>League Start:</strong> <%= @league.leagueable.start_date %>
  </p>
  <p>
    <strong>League End:</strong> <%= @league.leagueable.end_date %>
  </p>
</div>
