<div class="competition-header-image hero-image" style="background-image: url('<%= image_path 'mtgchamp18-header.jpg' %>')">
  <div class="container">
    <div class="row">
      <div class="col-md">
        <%= @competition.name %>
      </div>
    </div>
  </div>
</div>
<div id="league" class="row">
  <div class="col-md-8 offset-md-2 with-fixed-bottom-bar">
    <div class="content">
      <% if @competition.about.blank? %>
      <p>
        There are tons of ways to play <strong>Thousand Leagues</strong>! Create your own league and invite your friends, or join a public league!
      </p>
      <% else %>
      <%= markdown(@competition.about) %>
      <% end %>
    </div>
    <% if Time.now.utc < @competition.start_date.utc %>
      <div class="featured-leagues content">
        <h2>Featured Public Leagues</h2>
        <p>
          Want to test your skill against other <strong>Thousand Leagues</strong> users? Join one of our public leagues for <%= @competition.name %> below.
        </p>
        <% if League.joins('LEFT JOIN competitions ON competitions.id = leagues.leagueable_id').where('competitions.id = ? AND competitions.start_date > ? AND leagues.public = ?', @competition.id, Time.now, true).length > 0 %>
        <table class="table table-outer-border">
          <thead>
            <tr>
              <th>
                Name
              </th>
              <th>
                Entry Fee
              </th>
              <th>
                Prizes
              </th>
              <th>
                Draft
              </th>
              <th>
                Start Date
              </th>
              <th>
                Entries
              </th>
              <th>

              </th>
            </tr>
          </thead>
          <tbody>
            <% League.joins('LEFT JOIN competitions ON competitions.id = leagues.leagueable_id').where('competitions.id = ? AND competitions.start_date > ? AND leagues.public = ?', @competition.id, Time.now, true).order(:id).each do |league| %>
              <tr>
                <td>
                  <%= league.name %>
                </td>
                <td>
                  <%= league.entry %>
                </td>
                <td>
                  <button type="button" class="btn btn-secondary btn-sm btn-more-info" data-toggle="modal" data-target="#prize-payout-modal-<%= league.id %>">
                    $
                  </button>
                </td>
                <td>
                  <%= league.draft_type  == 'special' ? "Pick X" : league.draft_type.humanize.titleize %>
                </td>
                <td>
                  <%= league.leagueable.start_date.localtime.strftime('%m/%d/%Y') %>
                </td>
                <td>
                  <%= league.league_users.count %>
                </td>
                <td>
                  <%= link_to 'Play Now', game_competition_league_path(league.leagueable.game, league.leagueable, league), class: 'btn btn-sm btn-primary' %>
                </td>
              </tr>
              <div id="prize-payout-modal-<%= league.id %>" class="modal" tabindex="-1" role="dialog">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title"><%= league.name %></h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <h5>Prize Payouts</h5>
                      <p><em><%= league.entry %></em></p>
                      <%= simple_format(league.prize_payouts) %>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </tbody>
        </table>
        <% end %>
      </div>
      <div class="create-a-league content">
        <h2> Create Your Own League!</h2>
        <p>
          You can create all kinds of private leagues with <strong>Thousand Leagues</strong>. Create season-long or single-event league, and then choose between a Pick X or Snake draft format.
        </p>
        <table class="table table-outer-border">
          <thead>
            <tr>
              <th>
                Event
              </th>
              <th>
                Length
              </th>
              <th>
                Acessibility
              </th>
              <th>
                Draft
              </th>
              <th>
                Start Date
              </th>
              <th>

              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <%= @competition.name %>
              </td>
              <td>
                Single Event
              </td>
              <td>
                Private
              </td>
              <td>
                Pick X
              </td>
              <td>
                <%= @competition.start_date.localtime.strftime('%m/%d/%Y') %>
              </td>
              <td>
                <%= link_to 'Create League', new_game_competition_league_path(@game, @competition, draft_type: 'pick_x'), class: 'btn btn-sm btn-primary' %>
              </td>
            </tr>
            <tr>
              <td>
                <%= @competition.name %>
              </td>
              <td>
                Single Event
              </td>
              <td>
                Private
              </td>
              <td>
                Snake
              </td>
              <td>
                <%= @competition.start_date.localtime.strftime('%m/%d/%Y') %>
              </td>
              <td>
                <%= link_to 'Create League', new_game_competition_league_path(@game, @competition, draft_type: 'snake'), class: 'btn btn-sm btn-primary' %>
              </td>
            </tr>
            <% if @competition.season&.name == 'Vintage Super League (Season 9)' %>
            <tr>
              <td>
                <%= @competition.name %>
              </td>
              <td>
                Single Event
              </td>
              <td>
                Private
              </td>
              <td>
                Pick 'Em
              </td>
              <td>
                <%= @competition.start_date.localtime.strftime('%m/%d/%Y') %>
              </td>
              <td>
                <%= link_to 'Create League', new_game_competition_league_path(@game, @competition, draft_type: 'pick_em'), class: 'btn btn-sm btn-primary' %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
        <h5>Pick X Players/Cards</h5>
        <p>
          You pick X number of players or cards for your team, independent of what players the other teams in your league select. This means that multiple teams in your league can have the same player or card. There is no timed draft portion&mdash;pick your players on your own schedule!
        </p>
        <h5>Snake Draft</h5>
        <p>
          You set a time for your league to draft and each team takes turns picking players or cards for their team. Players or cards can only be on one team per league.
        </p>
        <h5>Pick 'Em</h5>
        <p>
          Rather than drafting players or cards, you pick the winner of a given match. The player who picks the most winners, well, wins!
        </p>
      </div>
    <% elsif @competition.end_date ?  (Time.now > @competition.end_date) : (Time.now - 4.days > @competition.start_date)  %>
      <h2> This competition has ended!</h2>
      <p>
        But there are <%= link_to 'plenty of other leagues you can join!', game_competitions_path(@game) %>
      </p>
    <% else %>
      <h2> This competition has already started!</h2>
      <p>
        But there are <%= link_to 'plenty of other leagues you can join!', game_competitions_path(@game) %>
      </p>
    <% end %>
  </div>
  <% if Time.now < @competition.start_date %>
    <div id="submit-message" class="submit-message submit-message-absolute alert-ready-to-submit alert-fixed">
      <%= link_to 'Create a League', new_game_competition_league_path(@game, @competition), class: 'btn btn-success' %>
      <%= link_to 'Draft Now', game_competition_league_path(@game, @competition, League.where(leagueable_id: @competition.id, leagueable_type: 'Competition', public: true).order(:id).first), class: 'btn btn-light' if League.find_by(leagueable_id: @competition.id, leagueable_type: 'Competition', public: true)%>
    </div>
  <% end %>
</div>
<script>
  $('.table').stacktable();
  $(window).ready(function(event) {
    var submitMessage = $('.alert-ready-to-submit');
    if (submitMessage !== undefined) {
      if ($(window).scrollTop() + $(window).height() > $(document).height() - $('footer').outerHeight()) {
        $(submitMessage).removeClass('alert-fixed');
      } else {
        $(submitMessage).addClass('alert-fixed');
      }
    }
  })
  $(window).scroll(function(event) {
    var submitMessage = $('.alert-ready-to-submit');
    if (submitMessage !== undefined) {
      if ($(window).scrollTop() + $(window).height() > $(document).height() - $('footer').outerHeight()) {
        $(submitMessage).removeClass('alert-fixed');
      } else {
        $(submitMessage).addClass('alert-fixed');
      }
    }
  })
</script>
