<div class="row">
  <div class="col-md-8 offset-md-2">
    <div id="league-info">
      <p>
        <%= link_to '< Back to League', game_competition_league_path(@game, @competition, @league) %>
      </p>
      <span>
        Join League For
      </span>
      <h1><%= @league.leagueable.name %></h1>
      <p>
        <em>Public league</em>
      </p>
      <p>
        <strong>Entry:</strong> <%= @league.entry %>
      </p>
      <p>
        <strong>Draft Type:</strong> <%= @league.draft_type.humanize.titleize %>
        <button type="button" class="btn btn-secondary btn-sm btn-more-info" data-toggle="modal" data-target="#draft-types-modal">
          ?
        </button>
      </p>
      <%= render 'leagues/draft_types_modal' %>
      <% unless @league.draft_type == 'pick_em' %>
      <p>
        <strong>Players Per Team:</strong> <%= @league.num_draft_rounds %>
      </p>
      <% end %>
      <p>
        <strong>Event Start:</strong> <%= @league.leagueable.start_date.localtime.strftime("%m/%d/%Y") %>
      </p>

      <%= form_for [@competition.game, @competition, @league, @league_user], html: { class: 'needs-validation', novalidate: true } do |f| %>
        <div class="form-group">
          <%= label_tag 'team[name]', "Team Name", class: "control-label" %>
          <%= text_field_tag 'team[name]', nil, required: true, class: "form-control" %>
        </div>
        <% if @league.draft_type == 'special' %>
          <div class="form-group">
            <%= label_tag 'team[supporting]', "Support a Player", class: "control-label" %> (Optional)
            <button type="button" class="btn btn-secondary btn-sm btn-more-info" data-toggle="modal" data-target="#support-a-player-modal">
              ?
            </button>
            <%= select_tag "team[supporting]", options_for_select([["Kenji Egashira", "kenji_egashira"], ["Josh Lee Kwai", "josh_lee_kwai"], ["The Professor", "the_professor"], ["Michelle Rapp", "michelle_rapp"], ["Ashlen Rose", "ashlen_rose"], ["Gerry Thompson", "gerry_thompson"], ["James Turner", "james_turner"], ["Chris VanMeter", "chris_vanmeter"]], session[:referral_code]), required: false, include_blank: "Select Player to Support", class: "form-control" %>
          </div>
          <div id="support-a-player-modal" class="modal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Support a Player</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <p>
                    The Chalice is a charity tournament organized by Card Kingdom to raise money for Big Brothers, Big Sisters of Puget Sound. <a href="https://thechalice.causevox.com/" target="_blank">Each of the players in the Chalice is competing to see who can raise the most money for BBBS.</a>
                  </p>
                  <p>
                    Hipsters of the Coast and Thousand Leagues will donate $1 to the player you choose to support when you register a team in the Chalice fantasy league.
                  </p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
              </div>
            </div>
          </div>
        <% end %>
        <% if !@league.paid_entry %>
          <%= f.submit "Join", id: 'join', class: "btn btn-primary" %>
        <% else %>
          <script src="https://checkout.stripe.com/checkout.js"></script>

          <div class="actions">
            <%= f.submit "Join", id: 'join', class: "btn btn-info" %>
          </div>

          <script>
            var form = document.getElementsByClassName('needs-validation')[0];

            var handler = StripeCheckout.configure({
              key: '<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>',
              // image: 'https://stripe.com/img/documentation/checkout/marketplace.png',
              locale: 'auto',
              token: function(token) {
                var attributes = [
                  {email: token.email},
                  {token_id: token.id}
                ];

                attributes.forEach(function(attribute) {
                  var hiddenFieldName = Object.keys(attribute)[0];
                  var hiddenFieldValue = attribute[hiddenFieldName];

                  var input = document.createElement('input');
                  input.setAttribute('type', 'hidden');
                  input.setAttribute('name', hiddenFieldName);
                  input.setAttribute('value', hiddenFieldValue);
                  document.getElementById('join').appendChild(input);
                })

                var cardAttributes = [
                  {address_city: token.card.address_city},
                  {address_country: token.card.address_country},
                  {address_line1: token.card.address_line1},
                  {address_line1_check: token.card.address_line1_check},
                  {address_line2: token.card.address_line2},
                  {address_state: token.card.address_state},
                  {address_zip: token.card.address_zip},
                  {address_zip_check: token.card.address_zip_check},
                  {brand: token.card.brand},
                  {country: token.card.country},
                  {cvc_check: token.card.cvc_check},
                  {exp_month: token.card.exp_month},
                  {exp_year: token.card.exp_year},
                  {funding: token.card.funding},
                  {stripe_id: token.card.id},
                  {last4: token.card.last4},
                  {name: token.card.name},
                  {object: token.card.object}
                ];

                cardAttributes.forEach(function(attribute) {
                  var hiddenFieldName = Object.keys(attribute)[0];
                  var hiddenFieldValue = attribute[hiddenFieldName];

                  var input = document.createElement('input');
                  input.setAttribute('type', 'hidden');
                  input.setAttribute('name', 'payment_method[' + hiddenFieldName + ']');
                  input.setAttribute('value', hiddenFieldValue);
                  document.getElementById('join').appendChild(input);
                })

                form.submit();
              }
            });

            document.getElementById('join').addEventListener('click', function(e) {
              if (form.checkValidity() === false) {
                event.preventDefault();
                event.stopPropagation();
                form.classList.add('was-validated');
                return false
              }
              // Open Checkout with further options:
              handler.open({
                description: 'Join this league!',
                amount: <%= @league.entry_fee %>,
                zipCode: true,
                currency: 'USD',
                panelLabel: 'Join for',
                billingAddress: true,
                email: '<%= current_user&.email %>',
                name: 'Thousand Leagues'
              });
              e.preventDefault();
            });

            // Close Checkout on page navigation:
            window.addEventListener('popstate', function() {
              handler.close();
            });
          </script>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
