<div class="row">
  <div class="col-md-8 offset-md-2">
    <h2><%= @competition.name %></h2>
    <p>
      Game: <%= @competition.game.name %>
    </p>
    <p>
      Date: <%= @competition.date.localtime.strftime("%m/%d/%Y") %>
    </p>
    <p>
      Location: <%= @competition.location %>
    </p>

    <%= form_for [@competition.game, @competition, @league] do |f| %>

      <%= f.submit "Create League", class: "btn btn-primary" %>

    <% end %>
  </div>
</div>
