<div class="row">
  <div class="col-md-8 offset-md-2">
    <h1>Admin Dashboard</h1>
    <p>
      <%= link_to "Competitions", admin_competitions_path, class: 'btn btn-primary' %>
    </p>
    <p>
      <%= link_to "Create League", new_admin_league_path, class: 'btn btn-primary' %>
    </p>
    <p>
      <%= link_to "Player Stats", admin_players_stats_path, class: 'btn btn-primary' %>
    </p>
    <p>
      <%= link_to "Create Season", new_admin_season_path, class: 'btn btn-primary' %>
    </p>
    <p>
      <%= link_to "Add Cards", new_admin_card_path, class: 'btn btn-primary' %>
    </p>
  </div>
</div>
