<h2>Competitors In <%= @tournament.admin.name %>'s Tournament For <%= @tournament.competition.name %></h2>

<h3>Registered Users</h3>
<% @tournament.tournament_users.each do |tournament_user| %>
  <p>
    <% if tournament_user.user == current_user %>
        <%= tournament_user.user.name %> (You)
    <% elsif tournament_user.user == @tournament.admin %>
      <p>
        <%= tournament_user.user.name %> (Admin)
      </p>
    <% else %>
        <%= tournament_user.user.name %>
    <% end %>
    <%= link_to "Remove", game_competition_tournament_tournament_user_path(@tournament.competition.game,@tournament.competition, @tournament, tournament_user), method: :delete, data: { confirm: "Are you sure?" } %>
  </p>
<% end %>

<h3>Add User By Email</h3>

<%= form_tag game_competition_tournament_tournament_users_path(@tournament.competition.game,@tournament.competition, @tournament) do %>

  <%= label_tag :email %>
  <%= email_field_tag :email, nil, required: true %>

  <%= submit_tag "Add User" %>

<% end %>
