<h2><%= @league.admin.name %>'s League For <%= @league.competition.name %></h2>

<h3>Registered Users:</h3>
<% @league.league_users.each do |league_user| %>
  <p>
    <% if league_user.user == current_user %>
        <%= league_user.user.name %> (You)
    <% elsif league_user.user == @league.admin %>
      <p>
        <%= league_user.user.name %> (Admin)
      </p>
    <% else %>
        <%= league_user.user.name %>
    <% end %>
    <% unless @league.draft.active || (@league.draft.start_time && (@league.draft.active || Time.now > @league.draft.start_time)) %>
      <%= link_to "Remove", game_competition_league_league_user_path(@competition.game, @competition, league_user), method: :delete, data: { confirm: "Are you sure?" } %>
    <% end %>
  </p>
<% end %>

<% if @league.draft.active || (@league.draft.start_time && (@league.draft.active || Time.now > @league.draft.start_time)) %>

  <% if !@league.draft.completed %>
    <%= link_to "Go To Your Draft", game_competition_league_draft_path(@competition.game, @competition, @league, @league.draft) %>

  <% end %>

<% else %>
  <%= link_to "Add More Players", game_competition_league_league_users_path(@competition.game, @competition, @league) %>

  <% if current_user == @league.admin %>
  <%= link_to "Set Up Your Draft", game_competition_league_draft_path(@competition.game, @competition, @league, @league.draft) %>
  <% end %>
<% end %>
