<div id="home">
  <div class="hero-container">
    <div class="container">
      <div class="hero-text-container row">
        <div class="hero-text col-md">
          <div class="hero-intro">
            Don't just watch Magic.
          </div>
          <div class="hero-cta">
            <p>
              Invite your friends and draft your favorite Magic pros to compete in your own 1KL fantasy league! It's completely free!
            </p>
            <p>
              <% if current_user %>
                <%= link_to "Create a League", game_competitions_path(Game.find_by_name("Magic: the Gathering")), class: "btn btn-dark" %>
              <% else %>
                <%= link_to "Create a League", new_user_registration_path, class: "btn btn-dark" %>
              <% end %>
            </p>
          </div>
        </div>
        <div class="hero-text col-md placeholder">
        </div>
      </div>
    </div>
  </div>
  <div class="section-container first">
    <div class="cta-container homepage-section">
      <div class="container">
        <div class="row">
          <div class="col-md">
            <div class="cta-text-container">
              <div class="cta-image-container">
                <%= image_tag "create-a-league.png" %>
              </div>
              <h3>Create a League</h3>
              <p>
                Join or create your own league at no cost.
              </p>
            </div>
          </div>
          <div class="col-md">
            <div class="cta-text-container">
              <div class="cta-image-container">
                <%= image_tag "invite-your-friends.png" %>
              </div>
              <h3>Invite Your Friends</h3>
              <p>
                Invite your friends and create your teams.
              </p>
            </div>
          </div>
          <div class="col-md">
            <div class="cta-text-container">
              <div class="cta-image-container">
                <%= image_tag "draft-your-pros.png" %>
              </div>
              <h3>Draft Your Pros</h3>
              <p>
                Draft your favorite Magic pros and create the perfect lineup.
              </p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md">
            <div class="cta-text-container homepage-actions">
              <p>
                <% if current_user %>
                  <%= link_to "Create a League", game_competitions_path(Game.find_by_name("Magic: the Gathering")), class: "btn btn-primary" %>
                <% else %>
                  <%= link_to "Create a League", new_user_registration_path, class: "btn btn-primary" %>
                <% end %>
                <%= link_to "How It Works", faq_path, class: "btn btn-lg btn-dark" %>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section-container second">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10" preserveAspectRatio="none">
      <polygon fill="white" points="0,0  10,10  10,0"/>
    </svg>
    <div class="cta-container homepage-section">
      <div class="container">
        <div class="row split-row">
          <div class="col-md left">
            <div class="cta-text-container">
              <h3>The best fantasy stats for Magic: the Gathering</h3>
              <p>
                Choose the best players for your team with our advanced metrics, from our powerful xRank to ELO ratings.
              </p>
              <p>
                Our dataset includes every Pro Tour from the Team Series era and is rapidly expanding.
              </p>
            </div>
          </div>
          <div class="col-md right">
            <div class="cta-text-container">
              <h3>Upcoming Events</h3>
              <div class="event-container">
                <a href="/games/mtg/competitions/gpatlanta18/leagues" class="homepage-event-link">
                  <p class="event-button">Grand Prix Atlanta (Modern) (November 3-4)</p>
                </a>
              </div>
              <div class="event-container">
                <a href="/games/mtg/competitions/ew18vintage/leagues" class="homepage-event-link">
                  <p class="event-button">Eternal Weekend (Vintage) (November 2-4)</p>
                </a>
              </div>
              <div class="event-container">
                <a href="/games/mtg/competitions/ew18legacy/leagues" class="homepage-event-link">
                  <p class="event-button">Eternal Weekend (Legacy) (November 3-4)</p>
                </a>
              </div>
              <div class="event-container">
                <a href="/games/mtg/competitions/ptgrn/leagues" class="homepage-event-link">
                  <p class="event-button">Pro Tour Guilds of Ravnica (November 9-11)</p>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section-container third">
    <div class="cta-container homepage-section">
      <div class="container">
        <div class="row">
          <div class="col-md">
            <div class="">
              <h3>Sign up for news and updates about Thousand Leagues!</h3>
              <div class="subscribe">
                <form>
                  <div class="form-group">
                    <input type="email" class="form-control" id="subscribe-email" aria-describedby="emailHelp" placeholder="Enter email">
                    <button type="submit" id="subscribe" class="btn btn-primary">Subscribe</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
$(document).ready(function () {
  $('#subscribe').click(function (e) {
    e.preventDefault();
    console.log('clicked');
    var email = $('#subscribe-email').val();
    $.ajax({
      url: '<%= api_subscriber_path %>',
      type: 'post',
      dataType: 'json',
      data: {
        subscribe: {
          email: email
        }
      },
      success: function (data) {
        console.log(data);
        $('.subscribe').html('<p>Thanks for subscribing!</p>');
      }
    })
  });

  var container = $('.second')[0],
      innerContainer = $('.second .cta-container')[0],
      leftElement = $('.col-md.left')[0],
      rightElement = $('.col-md.right')[0],
      containerPadding = parseInt($(container).css('padding-top').replace(/[^-\d\.]/g, '')),
      containerHeight = $(container).outerHeight(),
      leftPadding = parseInt($(innerContainer).css('padding-top').replace(/[^-\d\.]/g, '')),
      leftHeight = $(leftElement).outerHeight(),
      gradientPercent = ((leftHeight + leftPadding + containerPadding) / containerHeight) * 100;

  if ($(window).width() < 768) {
    $(container).css('background', 'linear-gradient(to bottom, #191919 0%, #191919 ' + gradientPercent + '%, #453c77 ' + gradientPercent + '%, #453c77 100%)')
  }

  $(window).on('resize', function(){
    container = $('.second')[0];
    innerContainer = $('.second .cta-container')[0]
    leftElement = $('.col-md.left')[0];
    rightElement = $('.col-md.right')[0];
    containerPadding = parseInt($(container).css('padding-top').replace(/[^-\d\.]/g, ''));
    containerHeight = $(container).outerHeight();
    leftPadding = parseInt($(innerContainer).css('padding-top').replace(/[^-\d\.]/g, ''));
    leftHeight = $(leftElement).outerHeight();
    gradientPercent = ((leftHeight + leftPadding + containerPadding) / containerHeight) * 100;
    if ($(window).width() < 768) {
      $(container).css('background', 'linear-gradient(to bottom, #191919 0%, #191919 ' + gradientPercent + '%, #453c77 ' + gradientPercent + '%, #453c77 100%)')
    } else {
      $(container).css('background', 'linear-gradient(to right, #191919 0%, #191919 50%, #453c77 50%, #453c77 100%)')
    }
  });
});

</script>
