<div class="row">
  <div class="col-md-8 offset-md-2">
    <% if @competition.results.length > 0 %>
      <h1>Results From <%= @competition.name %></h1>
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>
              Place
            </th>
            <th>
              Name
            </th>
            <th>
              Points
            </th>
            <% if current_user&.admin? %>
              <th>

              </th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% @results.each do |result| %>
            <tr>
              <td>
                <%= result.place %>
              </td>
              <td>
                <%= result.player.name %>
              </td>
              <td>
                <%= result.points %>
              </td>
              <% if current_user&.admin? %>
                <td>
                  <%= link_to "Edit", edit_game_competition_result_path(@game, @competition, result), class: "btn btn-sm btn-primary" %>
                </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% else %>
      <% if current_user.admin %>
        <p>
          No results for <%= @competition.name %> have been submitted yet. Submit them <%= link_to "here", new_game_competition_result_path(@competition.game, @competition) %>.
        </p>
      <% else %>
        <p>
          No results for <%= @competition.name %> have been submitted yet.
        </p>
      <% end %>
    <% end %>
  </div>
</div>
