<div class="row">
  <div class="col-md-8 offset-md-2">
    <% if @competition.results.length > 0 %>
      <p>
        There are already results for this competition. Add them anyway?
      </p>
    <% end %>
    <p>
      The .csv of event results must be in the following format: <em>place, name, points</em>
    </p>
    <h4>Individual PT Import</h4>
    <%= form_tag game_competition_results_import_path(@game, @competition), multipart: true do %>
      <div class="form-group required">
        <%= label_tag :file, "File", class: "control-label" %>
        <%= file_field_tag :file, type: :file, accept: ".csv", required: true, class: "form-control" %>
      </div>
      <div class="form-group required">
        <%= label_tag :resultable_type, "Player or card results?", class: "control-label" %>
        <button type="button" class="btn btn-secondary btn-sm btn-more-info" data-toggle="modal" data-target="#draft-types-modal">
          ?
        </button>
        <%= select_tag :resultable_type, options_for_select([["Player", "Player"],["Card", "Card"]]), required: true, include_blank: "Players or cards?", class: "form-control" %>
      </div>

      <%= submit_tag "Add Results", class: "btn btn-primary" %>

    <% end %>

    <h4>Team PT Import</h4>
    <%= form_tag game_competition_results_team_import_path(@game, @competition), multipart: true do %>
      <div class="form-group required">
        <%= label_tag :teams_file, "Teams File", class: "control-label" %>
        <%= file_field_tag :teams_file, type: :file, accept: ".csv", required: true, class: "form-control" %>
      </div>

      <div class="form-group required">
        <%= label_tag :results_file, "Results File", class: "control-label" %>
        <%= file_field_tag :results_file, type: :file, accept: ".csv", required: true, class: "form-control" %>
      </div>

      <%= submit_tag "Add Results", class: "btn btn-primary" %>

    <% end %>
  </div>
</div>
