<div id="league-info">
  <h1><%= @league.leagueable.name %></h1>
  <p>
    <% if current_page?(game_season_league_path(@game, @season, @league)) %>
      <% if current_user.leagues.include? @league %>
        <% if current_user.team(@league)&.submitted %>
          <%= link_to 'View Team', game_season_league_team_path(@game, @season, @league, current_user.team(@league)), class: 'btn btn-dark' %>
        <% else %>
          <%= link_to 'Draft Now', game_season_league_draft_path(@game, @season, @league, @league.draft), class: 'btn btn-success' %>
        <% end %>
      <% else %>
        <%= link_to 'Join Now!', game_season_league_join_path(@game, @season, @league), class: 'btn btn-primary' if @league.leagueable.start_date > Time.now%>
      <% end %>
    <% end %>
  </p>
  <% if @league.public %>
    <p>
      <em>Public league</em>
    </p>
  <% else %>
    <p>
      <strong>Commissioner:</strong> <%= @league.admin.name %>
    </p>
  <% end %>
  <p>
    <strong>Draft Type:</strong> <%= @league.draft_type.humanize.titleize %>
  </p>
  <p>
    <strong>Entry:</strong> Free
  </p>
  <p>
    <strong>Players Per Team:</strong> <%= @league.num_draft_rounds %>
  </p>
  <p>
    <strong>League Start:</strong> <%= @league.leagueable.start_date %>
  </p>
  <p>
    <strong>League End:</strong> <%= @league.leagueable.end_date %>
  </p>
</div>
