<div class="competition-header-image hero-image" style="background-image: url('<%= image_path 'mtgchamp18-header.jpg' %>')">
  <div class="container">
    <div class="row">
      <div class="col-md">
        <%= @season.name %>
      </div>
    </div>
  </div>
</div>
<div id="league" class="row">
  <div class="col-md-8 offset-md-2 with-fixed-bottom-bar">
    <div class="content">
      <p>
        A season-long league lasts for the entirety of a Pro Tour cycle (about three months). Players can earn points for their team at individual Grand Prix and Pro Tours.
      </p>
    </div>
    <div class="featured-leagues content">
      <h2>Featured Public Leagues</h2>
      <p>
        Want to test your skill against other <strong>Thousand Leagues</strong> users? Join one of our public leagues for <%= @season.name %> below.
      </p>
      <% if (League.joins('LEFT JOIN seasons ON seasons.id = leagues.leagueable_id').where('seasons.id = ? AND seasons.start_date > ? AND leagues.public = ? AND leagues.leagueable_type = ?', @season.id, Date.today, true, 'League').length > 0) || (League.joins('LEFT JOIN competitions ON competitions.id = leagues.leagueable_id').where('competitions.id in (?) AND competitions.start_date > ? AND leagues.public = ? AND leagues.leagueable_type = ?', @season.competitions.pluck(:id), Time.now, true, 'Competition').length > 0) %>
      <table class="table table-outer-border">
        <thead>
          <tr>
            <th>
              Name
            </th>
            <th>
              Length
            </th>
            <th>
              Acessibility
            </th>
            <th>
              Draft Type
            </th>
            <th>
              Start Date
            </th>
            <th>
              Entries
            </th>
            <th>

            </th>
          </tr>
        </thead>
        <tbody>
          <% League.joins('LEFT JOIN seasons ON seasons.id = leagues.leagueable_id').where('seasons.id = ? AND seasons.start_date > ? AND leagues.public = ? AND leagues.leagueable_type = ?', @season.id, Date.today, true, 'League').each do |league| %>
            <tr>
              <td>
                <%= league.name %>
              </td>
              <td>
                Full Season
              </td>
              <td>
                Public
              </td>
              <td>
                <%= league.draft_type.humanize.titleize %>
              </td>
              <td>
                <% if league.leagueable.class.to_s == "Competition" %>
                  <%= league.leagueable.start_date.localtime.strftime('%m/%d/%Y') %>
                <% elsif league.leagueable.class.to_s == "Season" %>
                  <%= league.leagueable.start_date.strftime('%m/%d/%Y') %>
                <% end %>
              </td>
              <td>
                <%= league.league_users.count %>
              </td>
              <td>
                <%= link_to 'Play Now', game_season_league_path(league.leagueable.game, league.leagueable, league), class: 'btn btn-sm btn-primary' %>
              </td>
            </tr>
          <% end %>
          <% League.joins('LEFT JOIN competitions ON competitions.id = leagues.leagueable_id').where('competitions.id in (?) AND competitions.start_date > ? AND leagues.public = ? AND leagues.leagueable_type = ?', @season.competitions.pluck(:id), Time.now, true, 'Competition').each do |league| %>
              <tr>
                <td>
                  <%= league.name %>
                </td>
                <td>
                  Single Event
                </td>
                <td>
                  Public
                </td>
                <td>
                  <%= league.draft_type  == 'special' ? "Pick X" : league.draft_type.humanize.titleize %>
                </td>
                <td>
                  <%= league.leagueable.start_date.localtime.strftime('%m/%d/%Y') %>
                </td>
                <td>
                  <%= league.league_users.count %>
                </td>
                <td>
                  <%= link_to 'Play Now', game_competition_league_path(league.leagueable.game, league.leagueable, league), class: 'btn btn-sm btn-primary' %>
                </td>
              </tr>
            <% end %>
        </tbody>
      </table>
      <% else %>
      <p>
        Unfortunately, <strong>Thousand Leagues</strong> doesn't support season-long public leagues, yet! Check back soon!
      </p>
      <% end %>
    </div>
    <div class="create-a-league content">
      <h2> Create Your Own League!</h2>
      <p>
        You can create all kinds of private leagues with <strong>Thousand Leagues</strong>. Create season-long or single-event league, and then choose between a Pick X or Snake draft format.
      </p>
      <table class="table table-outer-border">
        <thead>
          <tr>
            <th>
              Event
            </th>
            <th>
              Length
            </th>
            <th>
              Acessibility
            </th>
            <th>
              Draft Type
            </th>
            <th>
              Start Date
            </th>
            <th>

            </th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <%= @season.name %>
            </td>
            <td>
              Full Season
            </td>
            <td>
              Private
            </td>
            <td>
              Pick X
            </td>
            <td>
              <%= @season.start_date.strftime('%m/%d/%Y') %>
            </td>
            <td>
              <%= link_to 'Create League', new_game_season_league_path(@game, @season, draft_type: 'pick_x'), class: 'btn btn-sm btn-primary' %>
            </td>
          </tr>
          <tr>
            <td>
              <%= @season.name %>
            </td>
            <td>
              Full Season
            </td>
            <td>
              Private
            </td>
            <td>
              Snake
            </td>
            <td>
              <%= @season.start_date.strftime('%m/%d/%Y') %>
            </td>
            <td>
              <%= link_to 'Create League', new_game_season_league_path(@game, @season, draft_type: 'snake'), class: 'btn btn-sm btn-primary' %>
            </td>
          </tr>
          <% @season.competitions.where('start_date > ?', Time.now).order(:start_date).limit(2).each do |competition| %>
              <tr>
                <td>
                  <%= competition.name %>
                </td>
                <td>
                  Single Event
                </td>
                <td>
                  Private
                </td>
                <td>
                  Pick X
                </td>
                <td>
                  <%= competition.start_date.localtime.strftime('%m/%d/%Y') %>
                </td>
                <td>
                  <%= link_to 'Create League', new_game_competition_league_path(competition.game, competition, draft_type: 'pick_x'), class: 'btn btn-sm btn-primary' %>
                </td>
              </tr>
              <tr>
                <td>
                  <%= competition.name %>
                </td>
                <td>
                  Single Event
                </td>
                <td>
                  Private
                </td>
                <td>
                  Snake
                </td>
                <td>
                  <%= competition.start_date.localtime.strftime('%m/%d/%Y') %>
                </td>
                <td>
                  <%= link_to 'Create League', new_game_competition_league_path(competition.game, competition, draft_type: 'snake'), class: 'btn btn-sm btn-primary' %>
                </td>
              </tr>
            <% unless competition.matches.empty?  %>
              <tr>
                <td>
                  <%= competition.name %>
                </td>
                <td>
                  Single Event
                </td>
                <td>
                  Private
                </td>
                <td>
                  Pick 'Em
                </td>
                <td>
                  <%= competition.start_date.localtime.strftime('%m/%d/%Y') %>
                </td>
                <td>
                  <%= link_to 'Create League', new_game_competition_league_path(competition.game, competition, draft_type: 'pick_em'), class: 'btn btn-sm btn-primary' %>
                </td>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
      <h5>Pick X Players/Cards</h5>
      <p>
        You pick X number of players or cards for your team, independent of what players the other teams in your league select. This means that multiple teams in your league can have the same player or card. There is no timed draft portion&mdash;pick your players or cards on your own schedule!
      </p>
      <h5>Snake Draft</h5>
      <p>
        You set a time for your league to draft and each team takes turns picking players or cards for their team. Players or cards can only be on one team per league.
      </p>
      <h5>Pick 'Em</h5>
      <p>
        Rather than drafting players or cards, you pick the winner of a given match. The player who picks the most winners, well, wins!
      </p>
      <h5>Bracket</h5>
        <p>
          A bracket league allows you to pick the winners of every match in a single-elimination tournament, all the way to the finals!
        </p>
    </div>
  </div>
  <div id="submit-message" class="submit-message submit-message-absolute alert-ready-to-submit alert-fixed">
    <%= link_to 'Create a League', new_game_season_league_path(@game, @season), class: 'btn btn-success' %>
    <%= link_to 'Draft Now', game_season_league_path(@game, @season, League.find_by(leagueable_id: @season.id, leagueable_type: 'season', public: true)), class: 'btn btn-light' if League.find_by(leagueable_id: @season.id, leagueable_type: 'season', public: true)%>
  </div>
</div>
<script>
  $('.table').stacktable();
  $(window).ready(function(event) {
    var submitMessage = $('.alert-ready-to-submit');
    if (submitMessage !== undefined) {
      if ($(window).scrollTop() + $(window).height() > $(document).height() - $('footer').outerHeight()) {
        $(submitMessage).removeClass('alert-fixed');
      } else {
        $(submitMessage).addClass('alert-fixed');
      }
    }
  })
  $(window).scroll(function(event) {
    var submitMessage = $('.alert-ready-to-submit');
    if (submitMessage !== undefined) {
      if ($(window).scrollTop() + $(window).height() > $(document).height() - $('footer').outerHeight()) {
        $(submitMessage).removeClass('alert-fixed');
      } else {
        $(submitMessage).addClass('alert-fixed');
      }
    }
  })
</script>
