<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hey, <%= @user.name %>!</h1>
    <p>
      You've been invited to join <%= @league.admin.name %>'s <%= @leagueable.name %> fantasy draft! To accept this invitiation, click <a href="<%= @url %>">here</a>, or click the visit the following URL:
    </p>
    <p>
      <%= @url %>
    </p>
    <p>
      If you think you received this message by accident just ignore this invitation and accept our apologies.
    </p>
    <p>Thanks for using Fantasy Pro Tour!</p>
  </body>
</html>
