<div class="row">
  <div class="col-md-8 offset-md-2">
    <div>
      <h1>All Competitions</h1>
      <p>
        <%= link_to "Create Competition", new_admin_competition_path, class: 'btn btn-primary' %>
      </p>
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <th>
              Name
            </th>
            <th>
              Date
            </th>
            <th>

            </th>
            <th>

            </th>
            <th>

            </th>
          </tr>
        </thead>
        <tbody>
          <% @competitions.each do |competition| %>
            <tr>
              <td>
                <%= competition.name %>
              </td>
              <td>
                <%= competition.start_date.localtime.strftime("%m/%d/%Y") %>
              </td>
              <td>
                <%= link_to "Edit", edit_admin_competition_path(competition), class: "btn btn-secondary" %>
              </td>
              <td>
                <%= link_to "Players", admin_competition_competition_players_path(competition), class: "btn btn-secondary" %>
              </td>
              <td>
                <%= link_to "Cards", admin_competition_card_competitions_path(competition), class: "btn btn-secondary" %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
