<div id="draft-progress-container">
  <div class="page-title">
    <p class="page-instructions intro">
      Welcome to your bracket for
    </p>
    <h1><span class="tertiary-font"><%= @draft.league.leagueable.name %></span></h1>
    <p class="page-instructions">
      You'll find the rules and your bracket below.
    </p>
  </div>
</div>
<div id="draft-details-container" class="row" data="<%= @draft.id %>" data-team="<%= current_user.team(@draft.league)&.id %>" data-current-pick="<%= @current_pick&.number %>" data-current-pick-id="<%= @current_pick&.id %>" data-your-picks="<%= @your_picks %>" data-draft-type="<%= @draft.league.draft_type %>" data-pick-type="<%= @draft.league.pick_type %>" data-submit-link="<%= Rails.application.routes.url_helpers.game_competition_league_draft_submit_url(@draft.league.leagueable.game, @draft.league.leagueable, @draft.league, @draft, protocol: Rails.env.production? ? 'https' : 'http')%>" data-competition-name="<%= @draft.league.leagueable.name %>">
  <%= javascript_pack_tag "draft_viewer" %>
</div>
