<div id="draft" data-draft="<%= @draft.id %>" data-user="<%= current_user.id %>" data-team="<%= current_user.team(@draft.league)&.id %>">
  <% case @draft.league.draft_type %>
  <% when 'snake' %>
    <%= render 'snake_draft' %>
  <% when 'pick_x' %>
    <%= render 'pick_x_draft' %>
  <% when 'pick_em' %>
    <%= render 'pick_em_draft' %>
  <% when 'special' %>
    <%= render 'special_draft' %>
  <% when 'bracket' %>
    <%= render 'bracket' %>
  <% end %>
</div>
<script>
  $(window).scroll(function(event) {
    var submitMessage = $('.alert-ready-to-submit');
    if (submitMessage !== undefined) {
      if ($(window).scrollTop() + $(window).height() > $(document).height() - $('footer').outerHeight()) {
        $(submitMessage).removeClass('alert-fixed');
      } else {
        $(submitMessage).addClass('alert-fixed');
      }
    }
  })
</script>
