<!DOCTYPE html>
<html>
  <head>
    <title>FantasyDrafter</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= action_cable_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  </head>

  <body>
    <%= render "layouts/nav" %>

    <div id="content">
      <% if request.env['PATH_INFO'] != "/" %>
        <div class="container-fluid">
      <% end %>
      <% if notice || alert  %>
      <div id="notice">
        <% if notice %>
        <span class="notice"><%= notice %></span>
        <% elsif alert %>
        <span class="alert"><%= alert %></span>
        <% end %>
      </div>
      <% end %>

      <%= yield %>
      <% if request.env['PATH_INFO'] != "/" %>
        </div>
      <% end %>
    </div>
    <footer>
      <div class="container copyright-notice-container">
        Copyright Hipsters of the Coast <%= Date.today.year %>. Magic: the Gathering and the Pro Tour are copyrights of Wizards of the Coast.
      </div>
    </footer>
  </body>
</html>
