<!DOCTYPE html>
<html>
  <head>
    <title>FantasyDrafter</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="nav">
      <div>
        <% if current_user %>
        <%= link_to "Sign Out", destroy_user_session_path, method: "delete" %>
        <% else %>
        <%= link_to "Sign In", new_user_session_path %>
        <% end %>
      </div>
      <div>
        <%= link_to "Find A Game", games_path %>
      </div>
      <div>
        <%= link_to "Your Tournaments", users_tournaments_path %>
      </div>
    </div>

    <% if notice || alert  %>
      <div id="notice">
        <% if notice %>
          <span class="notice"><%= notice %></span>
        <% elsif alert %>
          <span class="alert"><%= alert %></span>
        <% end %>
      </div>
    <% end %>

    <%= yield %>

  </body>
</html>
